{% extends "@Contao/content_element/_base.html.twig" %}

{# todo: remove once the table sorting script was adjusted or inlined #}
{% set attributes = attrs().addClass('ce_table') %}

{% block content %}
    {% set table_attributes = attrs(table_attributes|default)
        .set('id', 'table_' ~ data.id, sorting)
        .addClass('sortable', sorting)
        .set('data-sort-default', sorting.column|default ~ '|' ~ sorting.order|default, sorting)
    %}
    <table{% block table_attributes %}{{ table_attributes }}{% endblock %}>
        {# Caption #}
        {% if caption %}
            {% block caption %}
                <caption>{% block caption_inner %}{{ caption|insert_tag_raw }}{% endblock %}</caption>
            {% endblock %}
        {% endif %}

        {# Header #}
        {% if header %}
            {% block header %}
                <thead>
                {% block header_inner %}
                    <tr>
                        {% for col in header %}
                            {% if loop.first and use_row_headers %}
                                <th class="unsortable">{{ block('cell_content') }}</th>
                            {% else %}
                                <th>{{ block('cell_content') }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endblock %}
                </thead>
            {% endblock %}
        {% endif %}

        {# Footer #}
        {% if footer %}
            {% block footer %}
                <tfoot>
                {% block footer_inner %}
                    <tr>
                        {% for col in footer %}
                            <td>{{ block('cell_content') }}</td>
                        {% endfor %}
                    </tr>
                {% endblock %}
                </tfoot>
            {% endblock %}
        {% endif %}

        {# Body #}
        {% block body %}
            <tbody>
            {% block body_inner %}
                {% for row in rows %}
                    <tr>
                        {% for col in row %}
                            {% if loop.first and use_row_headers %}
                                <th scope="row">{{ block('cell_content') }}</th>
                            {% else %}
                                <td>
                                    {%- block body_cell_content %}
                                        {%- block cell_content %}
                                            {{- col|nl2br|insert_tag_raw -}}
                                        {% endblock -%}
                                    {% endblock -%}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endblock %}
            </tbody>
        {% endblock %}
    </table>
{% endblock %}
