{#
    This component outputs a table with client side sorting capabilities.

        <table data-sortable-table="desc">
          <caption>My table</caption>
          <thead>
            <tr>
              <th data-sort-method="none"></th>
              <th data-sort-default>Things</th>
            </tr>
          </thead>
          <tfoot>…</tfoot>
          <tbody>
            <tr>
              <td>Cell data</td>
              <td>Cell data</td>
            </tr>
            …
          </tbody>
        </ul>

    If you want to make your table sortable, either set "sorting" to true or to
    an object with the keys "column" and "order", in which you set the initial
    zero-based column index and the sorting order (asc/desc):

        {% set sorting = true %}
        {% set sorting = {column: 1, order: 'desc'} %}

    Mandatory variables:
        @var iterable rows

    Optional variables:
        @var string caption
        @var iterable header
        @var iterable footer
        @var bool use_row_headers
        @var \Contao\CoreBundle\String\HtmlAttributes table_attributes
        @var \Contao\CoreBundle\String\HtmlAttributes table_caption_attributes
        @var \Contao\CoreBundle\String\HtmlAttributes table_header_attributes
        @var \Contao\CoreBundle\String\HtmlAttributes table_footer_attributes
        @var \Contao\CoreBundle\String\HtmlAttributes table_body_attributes
        @var object|bool sorting
        @var object tablesort_options

    Note:
        You can either group all variables in an object named "table" or
        all directly in the context. Grouping under an object has precedence.
#}

{% trans_default_domain "contao_default" %}

{% block table_component %}
    {% set table = table|default(_context) %}
    {% set sorting = table.sorting|default(null) %}
    {% set caption = table.caption|default %}
    {% set header = table.header|default([]) %}
    {% set footer = table.footer|default([]) %}
    {% set use_row_headers = table.use_row_headers|default(false) %}

    {% block table %}
        {% set table_attributes = attrs(table_attributes|default) %}
        {% if sorting %}
            {# You can provide custom options for the tablesort script.
               See https://github.com/tristen/tablesort for more details. #}
            {% do table_attributes.set(
                'data-sortable-table',
                tablesort_option|default({})|merge({descending: sorting.order == 'desc'})|json_encode
            ) %}
        {% endif %}
        <table{% block table_attributes %}{{ table_attributes }}{% endblock %}>
            {# Caption #}
            {% if caption %}
                {% block table_caption %}
                    <caption{{ table_caption_attributes|default }}>
                        {%- block table_caption_inner %}{{ caption|insert_tag_raw }}{% endblock -%}
                    </caption>
                {% endblock %}
            {% endif %}

            {# Header #}
            {% if header %}
                {% block table_header %}
                    <thead{{ table_header_attributes|default }}>
                    {% block header_inner %}
                        <tr>
                            {% for cell in header %}
                                {% set header_cell_attributes = attrs(default_header_cell_attributes|default)
                                    .set('data-sort-method', 'none', sorting and loop.first and use_row_headers)
                                    .set('data-sort-default', '', sorting.column|default == loop.index0)
                                %}
                                <th{{ header_cell_attributes }}>{{ block('table_cell_content') }}</th>
                            {% endfor %}
                        </tr>
                    {% endblock %}
                    </thead>
                {% endblock %}
            {% endif %}

            {# Footer #}
            {% if footer %}
                {% block table_footer %}
                    <tfoot{{ table_footer_attributes|default }}>
                    {% block table_footer_inner %}
                        <tr>
                            {% for cell in footer %}
                                <td>{{ block('table_cell_content') }}</td>
                            {% endfor %}
                        </tr>
                    {% endblock %}
                    </tfoot>
                {% endblock %}
            {% endif %}

            {# Body #}
            {% block table_body %}
                <tbody{{ table_body_attributes|default }}>
                {% block table_body_inner %}
                    {% for row in rows %}
                        <tr>
                            {% for cell in row %}
                                {% if loop.first and use_row_headers %}
                                    <th scope="row">{{ block('table_cell_content') }}</th>
                                {% else %}
                                    <td>
                                        {%- block table_body_cell_content %}
                                            {%- block table_cell_content %}
                                                {{- cell|insert_tag|raw -}}
                                            {% endblock -%}
                                        {% endblock -%}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endblock %}
                </tbody>
            {% endblock %}
        </table>
    {% endblock %}

    {% block script %}
        {% if sorting %}
            {% add "tablesort_script" to head %}
                <script>
                    {
                        const instances = new WeakMap();

                        const initTree = (root) => {
                            const elements = root.matches('table[data-sortable-table]') ?
                                [root] : root.querySelectorAll('table[data-sortable-table]');

                            elements.forEach(element => {
                                const options = JSON.parse(element.dataset.sortableTable);
                                const table = instances.has(element) ? instances.get(element) : new Tablesort(element, options);
                                instances.set(element, table);
                            });
                        }

                        const script = document.createElement('script');
                        script.src = '{{ asset('js/tablesort.min.js', 'contao-components/tristen-tablesort') }}';
                        script.async = true;

                        script.addEventListener('load', () => {
                            new MutationObserver(function (mutations) {
                                mutations.forEach(function (mutation) {
                                    initTree(mutation.target)
                                });
                            }).observe(document, {
                                childList: true,
                                subtree: true
                            });

                            initTree(document.documentElement);
                        })

                        document.head.appendChild(script);
                    }
                </script>
            {% endadd %}
        {% endif %}
    {% endblock %}
{% endblock %}
