{% trans_default_domain "contao_default" %}

{% set search_container_attributes = attrs()
    .addClass(['backend-search', 'search--hidden'])
    .set('data-controller', 'contao--backend-search')
    .set('data-action','
        click@document->contao--backend-search#documentClick
        keydown.esc@document->contao--backend-search#close
        keydown.tab@document->contao--backend-search#focusTrapNext:prevent
        keydown.shift+tab@document->contao--backend-search#focusTrapPrev:prevent
    ')
    .set('data-contao--backend-search-min-characters-value', '3')
    .set('data-contao--backend-search-hidden-class', 'search--hidden')
    .set('data-contao--backend-search-initial-class', 'search--initial')
    .set('data-contao--backend-search-loading-class', 'search--loading')
    .set('data-contao--backend-search-invalid-class', 'search--invalid')
    .set('data-contao--backend-search-results-class', 'search--results')
    .set('data-contao--backend-search-error-class', 'search--error')
    .set('data-contao--backend-search-route-value', path('contao_backend') ~ '/search?keywords=')
    .mergeWith(tabs_container_attributes|default)
%}

{% set search_input_attributes = attrs()
    .addClass('tl_text')
    .set('autocomplete', 'off')
    .set('placeholder', 'MSC.search'|trans)
    .set('name', 'keywords')
    .set('data-contao--backend-search-target', 'input')
    .set('data-action', 'focus->contao--backend-search#open input->contao--backend-search#performSearch blur->contao--backend-search#inputBlur')
%}

<div {{ search_container_attributes }}>
    <div class="backend-search_overlay"></div>
    <div class="backend-search_inner">
        <label>
            <span class="invisible">{{ 'MSC.search'|trans }}</span>
            {{ backend_icon('search.svg') }}
            <input id="backend-search" type="text" {{ search_input_attributes }}>
        </label>
        <div class="backend-search_results-container">
            <span class="backend-search_message search-message--placeholder">{{ 'MSC.searchResultsPlaceholder'|trans }}</span>
            <span class="backend-search_message search-message--invalid">{{ 'MSC.searchResultsMin'|trans(['3']) }}</span>
            <span class="backend-search_message search-message--loading">{{ 'MSC.searchResultsLoading'|trans }}</span>
            <span class="backend-search_message search-message--error">{{ 'ERR.general'|trans }}</span>
            <ul class="backend-search_results" data-contao--backend-search-target="results"></ul>
        </div>
    </div>
</div>
