{% use "@Contao/component/_figure.html.twig" %}

{% for hit in hits %}
    <div class="tl_search_hit">
        <h3>{{ hit.title }}</h3>

        {% if hit.context %}
            <p class="context">{{ hit.context }}</p>
        {% endif %}

        {% if hit.imageFigureBuilder %}
            {% set figure = hit.imageFigureBuilder.setSize([200, 200]).buildIfResourceExists %}
            {% if figure %}
                {{ block('figure_component') }}
            {% endif %}
        {% endif %}

        <a href="{{ hit.viewUrl }}">View this item</a>

        {% if hit.editUrl %}
            <a href="{{ hit.editUrl }}">Edit this item</a>
        {% endif %}
    </div>
{% endfor %}
