<form{% if action|default %} action="{{ action }}"{% endif %} method="{{ method }}" enctype="{{ enctype }}"{{ attributes }}{{ novalidate }}{% if ajax|default %} data-ajax-form="{{ id }}"{% endif %}>
  <div class="formbody">
    {% if errors|default %}
      {% for error in errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    {% endif %}
    {% if 'get' != method %}
      <input type="hidden" name="FORM_SUBMIT" value="{{ formSubmit }}">
      <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
      {% if maxFileSize|default %}
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ maxFileSize }}">
      {% endif %}
    {% endif %}
    {{ hidden }}
    {{ fields }}
  </div>
</form>
