{% extends "@Contao/form_row.html.twig" %}

{% block field %}
  {% if this.src|default %}
    <input type="image" src="{{ this.src }}" id="ctrl_{{ this.id }}" class="submit{% if this.class|default %} {{ this.class|default }}{% endif %}" title="{{ this.slabel }}" alt="{{ this.slabel }}"{{ attrs(getAttributes.invoke()) }}>
  {% else %}
    <button type="submit" id="ctrl_{{ this.id }}" class="submit{% if this.class|default %} {{ this.class|default }}{% endif %}"{{ attrs(getAttributes.invoke()) }}>{{ this.slabel }}</button>
  {% endif %}
{% endblock %}
