{% extends "@Contao/form_row.html.twig" %}

{% block field %}
  {% if src|default %}
    <input type="image" src="{{ src }}" id="ctrl_{{ id }}" class="submit{% if class|default %} {{ class }}{% endif %}" title="{{ slabel }}" alt="{{ slabel }}"{{ getAttributes.invoke() }}>
  {% else %}
    <button type="submit" id="ctrl_{{ id }}" class="submit{% if class|default %} {{ class }}{% endif %}"{{ getAttributes.invoke() }}>{{ slabel }}</button>
  {% endif %}
{% endblock %}
