{% extends "@Contao/form_row.html.twig" %}

{% block label %}
  {% if label %}
    <label for="ctrl_{{ id }}"{% if class %} class="{{ class }}"{% endif %}>
      {% if mandatory %}
        <span class="invisible">{{ mandatoryField }} </span>{{ label }}<span class="mandatory">*</span>
      {% else %}
        {{ label }}
      {% endif %}
    </label>
  {% endif %}
{% endblock %}

{% block field %}
  {% if hasErrors.invoke() %}
    <p class="error">{{ getErrorAsString.invoke() }}</p>
  {% endif %}

  <input type="file" name="{{ name }}" id="ctrl_{{ id }}" class="upload{% if class %} {{ class }}{% endif %}"{% if help %} aria-describedby="help_ctrl_{{ id }}"{% endif %}{{ getAttributes.invoke() }}>

  {% if help %}
    <p class="help" id="help_ctrl_{{ id }}">{{ help }}</p>
  {% endif %}
{% endblock %}
