<form{% if action|default %} action="{{ action }}"{% endif %} method="{{ method }}" enctype="{{ enctype }}"{{ attributes }}{{ novalidate }}{% if ajax %} data-ajax-form="{{ id }}"{% endif %}>
  <div class="formbody">
    {% if errors %}
      {% for error in errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    {% endif %}
    {% if 'get' != method %}
      <input type="hidden" name="FORM_SUBMIT" value="{{ formSubmit }}">
      <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
      {% if maxFileSize %}
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ maxFileSize }}">
      {% endif %}
    {% endif %}
    {{ hidden|raw }}
    {{ fields|raw }}
  </div>
</form>
