{% extends "@Contao/form_row.html.twig" %}

{% block label %}
  {% if label|default %}
    <label for="ctrl_{{ id }}"{% if class|default %} class="{{ class }}"{% endif %}>
      {% if mandatory|default %}
        <span class="invisible">{{ mandatoryField }} </span>{{ label }}<span class="mandatory">*</span>
      {% else %}
        {{ label }}
      {% endif %}
    </label>
  {% endif %}
{% endblock %}

{% block field %}
  {% if hasErrors.invoke() %}
    <p class="error">{{ getErrorAsString.invoke() }}</p>
  {% endif %}

  <input type="{{ type }}" name="{{ name }}" id="ctrl_{{ id }}" class="text{% if hideInput|default %} password{% endif %}{% if class|default %} {{ class }}{% endif %}" value="{{ convertDate(value) }}"{% if help|default %} aria-describedby="help_ctrl_{{ id }}"{% endif %}{{ getAttributes.invoke() }}>

  {% if help|default %}
    <p class="help" id="help_ctrl_{{ id }}">{{ help }}</p>
  {% endif %}
{% endblock %}
