{% extends "@Contao/form_row.html.twig" %}

{% block label %}
  {% if this.label %}
    <label for="ctrl_{{ this.id }}"{% if this.class|default %} class="{{ this.class|default }}"{% endif %}>
      {% if this.mandatory %}
        <span class="invisible">{{ this.mandatoryField }} </span>{{ this.label }}<span class="mandatory">*</span>
      {% else %}
        {{ this.label }}
      {% endif %}
    </label>
  {% endif %}
{% endblock %}

{% block field %}
  {% if hasErrors.invoke() %}
    <p class="error">{{ getErrorAsString.invoke() }}</p>
  {% endif %}

  <input type="{{ this.type }}" name="{{ this.name }}" id="ctrl_{{ this.id }}" class="text{% if this.hideInput|default %} password{% endif %}{% if this.class|default %} {{ this.class|default }}{% endif %}" value="{{ convertDate.invoke(this.value) }}"{% if this.help %} aria-describedby="help_ctrl_{{ this.id }}"{% endif %}{{ attrs(getAttributes.invoke()) }}>

  {% if this.help %}
    <p class="help" id="help_ctrl_{{ this.id }}">{{ this.help }}</p>
  {% endif %}
{% endblock %}
