{% extends "@Contao/form_row.html.twig" %}

{% block label %}
  {% if this.label %}
    <label for="ctrl_{{ this.id }}"{% if this.class|default %} class="{{ this.class|default }}"{% endif %}>
      {% if this.mandatory %}
        <span class="invisible">{{ this.mandatoryField }} </span>{{ this.label }}<span class="mandatory">*</span>
      {% else %}
        {{ this.label }}
      {% endif %}
    </label>
  {% endif %}
{% endblock %}

{% block field %}
  {% if hasErrors.invoke() %}
    <p class="error">{{ getErrorAsString.invoke() }}</p>
  {% endif %}

  {% if this.multiple|default %}
    <input type="hidden" name="{{ name ends with '[]' ? name[:-2] : name }}" value="">
  {% endif %}

  <select name="{{ this.name }}" id="ctrl_{{ this.id }}" class="{{ this.class|default }}"{% if this.help %} aria-describedby="help_ctrl_{{ this.id }}"{% endif %}{{ attrs(getAttributes.invoke()) }}>
    {% for option in getOptions.invoke() %}
      {% if option.type == 'group_start' %}
        <optgroup label="{{ option.label }}">
      {% endif %}

      {% if option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected }}>{{ option.label }}</option>
      {% endif %}

      {% if option.type == 'group_end' %}
        </optgroup>
      {% endif %}
    {% endfor %}
  </select>

  {% if this.help %}
    <p class="help" id="help_ctrl_{{ this.id }}">{{ this.help }}</p>
  {% endif %}
{% endblock %}
