{% extends "@Contao/block_searchable.html.twig" %}

{% block content %}

  {{ event }}

  {% if referer %}
    <!-- indexer::stop -->
    <p class="back"><a href="{{ referer }}" title="{{ back }}">{{ back }}</a></p>
    <!-- indexer::continue -->
  {% endif %}

  {% if allowComments %}
    <div class="ce_comments block">
      <{{ hlc }}>{{ hlcText }}</{{ hlc }}>
      {{ comments|join }}
      {{ pagination }}
      <{{ hlc }}>{{ addComment }}</{{ hlc }}>
      {% include "@Contao/mod_comment_form.html.twig" %}
    </div>
  {% endif %}

{% endblock %}
