{% trans_default_domain 'contao_default' %}

{% block pagination_component %}
    {% set page_count = pagination|default ? pagination.pageCount : number_of_pages|default(0) %}
    {% if page_count > 1 %}
        {% set pagination_attributes = attrs()
            .addClass('pagination')
            .set('role', 'navigation')
            .set('aria-label', 'MSC.pagination'|trans)
            .mergeWith(pagination_attributes|default)
        %}
        <!-- indexer::stop -->
        <nav{{ pagination_attributes }}>
            {% block pagination_total %}
                {% if pagination|default %}
                    <p>{{ 'MSC.totalPages'|trans([pagination.current, pagination.pageCount]) }}</p>
                {% endif %}
            {% endblock %}
            <ul>
                {% if pagination|default %}
                    {% block pagination_first %}
                        {% if pagination.first %}
                            <li class="first">
                                {% set first_attributes = attrs()
                                    .set('href', pagination.urlForPage(pagination.first))
                                    .addClass('first')
                                    .mergeWith(first_attributes|default)
                                %}
                                <a{{ first_attributes }}>{% block pagination_first_label %}{{ 'MSC.first'|trans }}{% endblock %}</a>
                            </li>
                        {% endif %}
                    {% endblock %}
                    {% block pagination_previous %}
                        {% if pagination.previous %}
                            <li class="previous">
                                {% set previous_attributes = attrs()
                                    .set('href', pagination.urlForPage(pagination.previous))
                                    .addClass('previous')
                                    .mergeWith(previous_attributes|default)
                                %}
                                <a{{ previous_attributes }}>{% block pagination_previous_label %}{{ 'MSC.previous'|trans }}{% endblock %}</a>
                            </li>
                        {% endif %}
                    {% endblock %}
                {% endif %}

                {% if pagination|default or number_of_pages|default %}
                    {% for page in pagination|default ? pagination.pages : range(1, number_of_pages) %}
                        {% set href = pagination|default ? pagination.urlForPage(page) : '#' %}
                        {% block pagination_link %}
                            <li>
                                {% if pagination.current|default == page %}
                                    {% set active_attributes = attrs()
                                        .set('aria-current', 'page')
                                        .addClass('active')
                                        .mergeWith(active_attributes|default)
                                    %}
                                    <strong{{ active_attributes }}>{% block pagination_active_label %}{{ page }}{% endblock %}</strong>
                                {% else %}
                                    {% set link_attributes = attrs()
                                        .set('href', href)
                                        .set('aria-label', 'MSC.goToPage'|trans([page]))
                                        .addClass('link')
                                        .mergeWith(link_attributes|default)
                                    %}
                                    <a{{ link_attributes }}>{% block pagination_link_label %}{{ page }}{% endblock %}</a>
                                {% endif %}
                            </li>
                        {% endblock %}
                    {% endfor %}
                {% endif %}

                {% if pagination|default %}
                    {% block pagination_next %}
                        {% if pagination.next %}
                            <li class="next">
                                {% set next_attributes = attrs()
                                    .set('href', pagination.urlForPage(pagination.next))
                                    .addClass('next')
                                    .mergeWith(next_attributes|default)
                                %}
                                <a{{ next_attributes }}>{% block pagination_next_label %}{{ 'MSC.next'|trans }}{% endblock %}</a>
                            </li>
                        {% endif %}
                    {% endblock %}
                    {% block pagination_last %}
                        {% if pagination.last %}
                            <li class="last">
                                {% set last_attributes = attrs()
                                    .set('href', pagination.urlForPage(pagination.last))
                                    .addClass('last')
                                    .mergeWith(last_attributes|default)
                                %}
                                <a{{ last_attributes }}>{% block pagination_last_label %}{{ 'MSC.last'|trans }}{% endblock %}</a>
                            </li>
                        {% endif %}
                    {% endblock %}
                {% endif %}
            </ul>
        </nav>
        <!-- indexer::continue -->
    {% endif %}
{% endblock %}
