{% trans_default_domain "contao_template_studio" %}
{% extends '@Contao/be_main.html5' %}

{% block head %}
    {{ parent() }}
    <script src="{{ asset('js/ext-code_lens.js',  'contao-components/ace') }}"></script>
{% endblock %}

{% block main %}
    <main id="main"
          aria-labelledby="main_headline"
          data-controller="contao--template-studio"
          data-action="contao--color-scheme:change@window->contao--template-studio#colorChange"
          data-contao--template-studio-follow-url-value="{{ path('_contao_template_studio_follow.stream') }}"
          data-contao--template-studio-block-info-url-value="{{ path('_contao_template_studio_block_info.stream') }}"
    >
        {# Headline #}
        <h1 id="main_headline">{{ headline }}</h1>

        <section id="template-studio" class="content chrome">
            <div id="template-studio--nav">
                {# Theme selector #}
                {% if themes|length %}
                    <form id="template-studio--theme-selector" method="post" action="{{ path('_contao_template_studio_select_theme.stream') }}" data-turbo-stream data-contao--template-studio-target="themeSelector">
                        <label>
                            <select name="theme" onchange="this.form.requestSubmit()" class="tl_select" data-controller="contao--choices">
                                <option{{ attrs().set('value', '').set('selected', current_theme is null) }}>{{ 'no_theme_context'|trans }}</option>
                                {% for slug, name in themes %}
                                    <option{{ attrs().set('value', slug).set('selected', current_theme == slug) }}>{{ name }} [{{ slug}}]</option>
                                {% endfor %}
                            </select>
                            <span>{{ 'theme-selector'|trans }}</span>
                        </label>
                    </form>
                {% endif %}

                {# Identifier tree #}
                <div id="template-studio--tree">
                    {{ include("@Contao/backend/template_studio/tree/_tree.html.twig") }}
                </div>
            </div>

            {# Main editor section with multiple tabs #}
            {% embed "@Contao/backend/component/tabs/_container.html.twig" with {
                tabs_container_attributes: attrs().set('data-contao--template-studio-target', 'tabs'),
                id: 'template-studio--tabs',
                panels_container_id: 'template-studio--tab-panels',
            } %}
                {% trans_default_domain "contao_template_studio" %}

                {% block initial_content %}
                    <div class="explainer">
                        <h3>{{ 'getting-started.0'|trans }}</h3>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="m12 19-7-7 7-7"/>
                                <path d="M19 12H5"/>
                            </svg>
                            {{ 'getting-started.1'|trans }}
                        </p>
                    </div>
                {% endblock %}
            {% endembed %}

            {# Info panel #}
            <div id="template-studio--info" data-panel></div>
        </section>
    </main>
{% endblock %}
