{% extends "@Contao/block_unsearchable.html.twig" %}

{% set wrapperAttributes = attrs(cssID)
    .addClass([class, 'block'])
    .addStyle(style|default)
    .mergeWith(wrapperAttributes|default)
%}

{% block content %}

  {% if message %}
    <p class="tl_confirm">{{ message }}</p>
  {% endif %}

  <form id="{{ formId }}" method="post" enctype="{{ enctype }}">
    <div class="formbody">
      <input type="hidden" name="FORM_SUBMIT" value="{{ formId }}">
      <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
      {{ fields }}
      <div class="widget widget-submit">
        <button type="submit" class="submit">{{ slabel }}</button>
      </div>
    </div>
  </form>

{% endblock %}
