{% trans_default_domain "contao_default" %}

<div class="tl_search tl_subpanel">
    <strong>{{ 'MSC.search'|trans }}:</strong>

    {% set select_attributes = attrs()
        .set('name', 'tl_field')
        .addClass('tl_select')
        .addClass('active', active)
    %}
    <div class="tl_select_wrapper" data-controller="contao--choices">
        <select{{ select_attributes }}>
            {% for option in options %}

                {% set option_attributes = attrs()
                    .set('value', option.value)
                    .set('selected', option.selected)
                    .set('aria-label', option.aria_label ?? '')
                %}
                <option{{ option_attributes }}>{{ option.label }}</option>

            {% endfor %}
        </select>
    </div>

    <span>=</span>

    {% set input_attributes = attrs()
        .set('type', 'search')
        .set('name', 'tl_value')
        .set('value', value)
        .addClass('tl_text')
        .addClass('active', active)
    %}
    <input{{ input_attributes }}/>
</div>
