{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@ContaoCore/Collector/contao.svg') }}
        <span class="sf-toolbar-value">{{ collector.summary.version }}</span>
    {% endset %}
    {% set text %}
        {% if collector.summary.frontend %}
            <div class="sf-toolbar-info-group">
                <div class="sf-toolbar-info-piece">
                    <b>Page</b>
                    <span><a href="{{ collector.summary.page_url }}">{{ collector.summary.page }}</a></span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b>Page layout</b>
                    <span><a href="{{ collector.summary.layout_url }}">{{ collector.summary.layout }}</a></span>
                </div>
                {% for article in collector.summary.articles %}
                    <div class="sf-toolbar-info-piece">
                        <b>Article</b>
                        <span><a href="{{ article.url }}">{{ article.label }}</a></span>
                    </div>
                {% endfor %}
                <div class="sf-toolbar-info-piece">
                    <b>Template</b>
                    <span>{{ collector.summary.template|default('n/a') }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b>FE preview</b>
                    {% if collector.summary.preview %}
                        <span class="sf-toolbar-status sf-toolbar-status-yellow">enabled</span>
                    {% else %}
                        <span>disabled</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b>Resources</b>
                <span><a href="https://docs.contao.org/" target="_blank" rel="help noreferrer noopener">Read the Contao docs</a></span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Help</b>
                <span><a href="https://to.contao.org/support" target="_blank" rel="help">Contao support channels</a></span>
            </div>
        </div>
    {% endset %}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', {link: true, name: 'contao', additional_classes: (((collector.summary.preview) ? 'sf-toolbar-status-yellow ' : '') ~ 'sf-toolbar-block-right')}) }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ include('@ContaoCore/Collector/contao.svg') }}</span>
        <strong>Contao</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Summary</h2>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.summary.version }}</span>
            <span class="label">Contao version</span>
        </div>

        {% if collector.summary.page %}
            <div class="metric">
                <span class="value">{{ collector.summary.page }}</span>
                <span class="label">Page</span>
            </div>
        {% endif %}

        {% if collector.summary.layout %}
            <div class="metric">
                <span class="value">{{ collector.summary.layout }}</span>
                <span class="label">Page layout</span>
            </div>
        {% endif %}
    </div>

    <h2>Image resizing and previews</h2>
    <p>
        Imagine service currently in use: <code>{{ collector.imageChecks.imagine_service }}</code><br>
        This can be changed in the <code>contao.image.imagine_service</code> configuration.
    </p>
    <p>The following image formats are supported on your system.</p>
    <table>
        <thead>
        <tr>
            <th colspan="3">
                Image formats
            </th>
        </tr>
        </thead>
        <tbody>
        {% for format in collector.imageChecks.formats %}
            <tr>
                <td>
                    {% if format.supported %}
                        ✅
                    {% else %}
                        🚨
                    {% endif %}
                </td>
                <td>
                    {{ format.label|upper }}
                </td>
                <td>
                    <code>{{ format.error }}</code>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if collector.additionaldata %}
        <h2>Other</h2>
        <pre>
            {{ dump(collector.additionaldata) }}
        </pre>
    {% endif %}
{% endblock %}
