<!DOCTYPE html>
<html lang="{{ language }}">
<head>

    <meta charset="{{ charset }}">
    <title>{{ title }} | {{ host }}</title>
    <meta name="generator" content="Contao Open Source CMS">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <meta name="referrer" content="origin">
    <meta name="turbo-visit-control" content="reload">

    <link rel="stylesheet" href="{{ asset('conflict.css', 'system/themes/' ~ theme) }}">
    {{ stylesheets|default|raw }}

    <script>{{ getLocaleString.invoke()|raw }}</script>
    <script src="{{ asset('js/mootools.min.js', 'contao-components/mootools') }}"></script>
    <script src="{{ asset('backend.js', 'contao_core') }}"></script>
    <script>{{ getDateString.invoke()|raw }}</script>
    {{ javascripts|default|raw }}

</head>
<body>

<div id="container">
    <main id="main">
        <h1>{{ h1 }}</h1>
        <p>{{ explain1 }}</p>
        <p>{{ explain2 }}</p>
        <div id="diff">{{ diff|raw }}</div>
        <div class="submit_container">
            <a href="{{ href }}" class="tl_submit">{{ button }}</a>
        </div>
    </main>
</div>

</body>
</html>
