<!DOCTYPE html>
<html lang="{{ language }}">
<head>

    <meta charset="{{ charset }}">
    <title>{{ title }} | {{ host }}</title>
    <meta name="generator" content="Contao Open Source CMS">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <meta name="referrer" content="origin">

    <link rel="stylesheet" href="{{ asset('confirm.css', 'system/themes/' ~ theme) }}">
    {{ stylesheets|default|raw }}

    <script>{{ getLocaleString.invoke()|raw }}</script>
    <script src="{{ asset('js/mootools.min.js', 'contao-components/mootools') }}"></script>
    <script src="{{ asset('backend.js', 'contao_core') }}"></script>
    <script>{{ getDateString.invoke()|raw }}</script>
    {{ javascripts|default|raw }}

</head>
<body>

<div id="container">
    <main id="main">
        <form class="tl_form" method="post">
            <div class="tl_formbody_edit">
                <input type="hidden" name="FORM_SUBMIT" value="invalid_token_url">
                <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">
                <h1>{{ h1 }}</h1>
                <p class="link">{{ link }}</p>
                <table>
                    {% for key, info in info %}
                        <tr>
                            <th scope="row">{{ labels[key]|default(key) }}</th>
                            <td>{{ info }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <p>{{ explain }}</p>
                <div class="submit_container cf">
                    <button type="submit" name="cancel" class="tl_submit" accesskey="s">{{ cancel }}</button>
                    <a href="{{ href }}">{{ continue }}</a>
                </div>
            </div>
        </form>
    </main>
</div>

</body>
</html>
