{% trans_default_domain "contao_default" -%}

<!DOCTYPE html>
<html lang="{{ language }}" data-turbo="false">
<head>

    {% block head %}
        <meta charset="{{ charset }}">
        <title>Contao | {{ host }}</title>

        {% block meta %}
            <meta name="generator" content="Contao Open Source CMS">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
            <meta name="referrer" content="origin">
            <meta name="robots" content="noindex,follow">
            <meta name="turbo-visit-control" content="reload">
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('login.css', 'system/themes/' ~ theme) }}">
        {{ stylesheets|default|raw }}

        <script>{{ getLocaleString.invoke()|raw }}</script>
        <script src="{{ asset('js/mootools.min.js', 'contao-components/mootools') }}"></script>
        <script src="{{ asset('backend.js', 'contao_core') }}"></script>
        <script>{{ getDateString.invoke()|raw }}</script>
        {{ javascripts|default|raw }}
    {% endblock %}

</head>
<body{{ attrs(attributes|default).addClass('be_login_two_factor') }}>>

{% block container %}
    <div id="container">
        <main id="main">
            <form class="tl_login_form" method="post">
                <div class="formbody">
                    <input type="hidden" name="FORM_SUBMIT" value="tl_login">
                    <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">
                    <input type="hidden" name="_target_path" value="{{ targetPath }}">
                    <input type="hidden" name="_always_use_target_path" value="1">
                    {% if badgeTitle|default %}
                        <span class="badge-title">{{ badgeTitle }}</span>
                    {% endif %}
                    <h1>{{ headline }}</h1>
                    <div class="widget widget-text">
                        <label for="verify">{{ authCode }}</label>
                        <input type="text" name="verify" id="verify" class="tl_text" value="" autocapitalize="off" autocomplete="one-time-code" placeholder="{{ authCode }}" required>
                    </div>
                    <div class="widget widget-checkbox">
                        <input type="checkbox" name="trusted" id="trusted" class="tl_checkbox" value="1">
                        <label for="trusted">{{ 'MSC.twoFactorTrustDevice'|trans }}</label>
                    </div>
                    <div class="submit_container">
                        <a href="{{ path('contao_backend_logout') }}" class="tl_submit">{{ cancel }}</a>
                        <button type="submit" name="login" id="login" class="tl_submit">{{ loginButton }}</button>
                    </div>
                </div>
            </form>
        </main>
        {{ messages|raw }}
    </div>
{% endblock %}

<script>
    window.addEvent('domready', function() {
        $('verify').focus();
    });
</script>

</body>
</html>
