{% extends "@Contao/block_searchable.html.twig" %}

{% set wrapperAttributes = attrs()
    .addClass('ce_text')
    .mergeWith(wrapperAttributes|default)
%}

{% set hl = 'h1' %}

{% block content %}

    {{ text|default|sanitize_html('contao')|csp_inline_styles|encode_email|insert_tag_raw }}
    <p class="more"><a href="{{ href }}" title="{{ readMore }}">{{ more }}<span class="invisible"> {{ headline }}</span></a></p>

{% endblock %}
