{% extends '@Contao/block_unsearchable.html.twig' %}

{% block content %}

    <form method="post">
        <div class="formbody">
            <input type="hidden" name="FORM_SUBMIT" value="{{ formId }}">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">
            <div class="widget widget-select">
                <select name="target" class="select">
                    <option value="">{{ title }}</option>
                    {% for item in items %}
                        <option value="{{ item.href }}" {% if item.active %} selected{% endif %}>{{ item.link }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="widget widget-submit">
                <button type="submit" class="submit">{{ button }}</button>
            </div>
        </div>
    </form>

{% endblock %}
