{% extends "@Contao/block_unsearchable.html.twig" %}

{% block content %}

    {% if message|default %}
        <p class="tl_confirm">{{ message }}</p>
    {% endif %}

    <form id="{{ formId }}" method="post">
        <div class="formbody">
            <input type="hidden" name="FORM_SUBMIT" value="{{ formId }}">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">
            {{ fields|raw }}
            <div class="widget widget-submit">
                <button type="submit" class="submit">{{ slabel }}</button>
            </div>
        </div>
    </form>

{% endblock %}
