{% trans_default_domain 'ContaoInstallationBundle' %}
<!DOCTYPE html>
<html lang="{{ language }}">
<head>

  <meta charset="utf-8">
  <title>{{ 'install_tool'|trans }} | {{ host }}</title>
  <meta name="generator" content="Contao Open Source CMS">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
  <meta name="robots" content="noindex,nofollow">

  <link rel="stylesheet" href="{{ asset('system/themes/flexible/fonts.min.css') }}">
  <link rel="stylesheet" href="{{ asset('system/themes/flexible/basic.min.css') }}">
  <link rel="stylesheet" href="{{ asset('system/themes/flexible/install.min.css') }}">

  <script>var Contao={theme:'flexible',path:'{{ path }}'}</script>
  <script src="{{ asset('assets/mootools/js/mootools.min.js') }}"></script>
  <script src="{{ asset('bundles/contaocore/mootao.min.js') }}"></script>
  <script src="{{ asset('bundles/contaocore/core.min.js') }}"></script>
  <script src="{{ asset('system/themes/flexible/hover.min.js') }}"></script>

</head>
<body class="{{ ua }}">

  <header id="header">
    <h1>{{ 'install_tool'|trans }}</h1>
  </header>

  <div id="container">
    <main id="main">
      {% block main %}{% endblock %}
    </main>
  </div>

</body>
</html>
