{% extends "@ContaoInstallation/layout.html.twig" %}
{% trans_default_domain 'ContaoInstallationBundle' %}

{% block main %}
  <fieldset class="tl_tbox nolegend">
    <h3>{{ 'login'|trans }}</h3>
    <p class="tl_info" id="cookies">{{ 'allow_cookies'|trans }}</p>
    {% if error is defined %}
      <p class="tl_error">{{ error }}</p>
    {% endif %}
    <p>{{ 'login_explanation'|trans }}</p>
    <form method="post">
      <div class="tl_formbody">
        <input type="hidden" name="FORM_SUBMIT" value="tl_login">
        <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
        <h4><label for="password">{{ 'password'|trans }}</label></h4>
        <input type="password" name="password" id="password" class="tl_text" value="" autocomplete="current-password">
      </div>
      <div class="tl_formbody_submit">
        <div class="tl_submit_container">
          <button type="submit" class="tl_submit">{{ 'login'|trans }}</button>
        </div>
      </div>
    </form>
  </fieldset>
  <script>
    $('password').focus();
    navigator.cookieEnabled && $('cookies').destroy();
  </script>
{% endblock %}
