{% extends "layout.html.twig" %}

{% block main %}
  <fieldset class="tl_tbox{% if sql_form is empty %} collapsed{% endif %}">
    <legend onclick="this.getParent().toggleClass('collapsed')">{{ 'update_tables'|trans }}</legend>
    <div>
      <h3>{{ 'update_tables'|trans }}</h3>
      {% if sql_form is empty %}
        <p class="tl_confirm">{{ 'update_tables_confirm'|trans }}</p>
      {% endif %}
      <p>{{ 'update_tables_explain'|trans|raw }}</p>
      {% if sql_form is not empty %}
        <form method="post">
          <div class="tl_formbody">
            <input type="hidden" name="FORM_SUBMIT" value="tl_database_update">
            <div id="sql_wrapper">
              <table id="sql_table">
              {% for category, commands in sql_form %}
                <tr>
                  <td colspan="2" class="tl_col_0">{{ category|trans }}</td>
                </tr>
                <tr>
                  <td class="tl_col_1"><input type="checkbox" id="check_all_{{ loop.index }}" class="tl_checkbox" onclick="Backend.toggleCheckboxElements(this, '{{ category }}')"></td>
                  <td class="tl_col_2"><label for="check_all_{{ loop.index }}" style="color:#a6a6a6"><em>{{ 'select_all'|trans }}</em></label></td>
                </tr>
                {% for md5, command in commands %}
                  <tr>
                    <td class="tl_col_1"><input type="checkbox" name="sql[]" id="sql_{{ loop.parent.loop.index }}_{{ loop.index }}" class="tl_checkbox {{ category }}" value="{{ md5 }}"{% if 'DROP' not in command %} checked="checked"{% endif %}></td>
                    <td class="tl_col_2"><pre><label for="sql_{{ loop.parent.loop.index }}_{{ loop.index }}">{{ command }}</label></pre></td>
                  </tr>
                {% endfor %}
              {% endfor %}
              </table>
            </div>
          </div>
          <div class="tl_formbody_submit">
            <div class="tl_submit_container">
              <button type="submit" class="tl_submit">{{ 'update_save'|trans }}</button>
            </div>
          </div>
        </form>
      {% endif %}
    </div>
  </fieldset>
  <fieldset class="tl_box{% if import_date is not empty %} collapsed{% endif %}">
    <legend onclick="this.getParent().toggleClass('collapsed')">{{ 'template_import'|trans }}</legend>
    <div>
      <h3>{{ 'template_import'|trans }}</h3>
      {% if import_error %}
        <p class="tl_error">{{ import_error }}</p>
      {% elseif import_date is not empty %}
        <p class="tl_confirm">{{ 'imported_on'|trans|format(import_date) }}</p>
      {% else %}
        <p class="tl_info">{{ 'import_data_will_be_deleted'|trans }}</p>
      {% endif %}
      <p>{{ 'template_import_explain'|trans|raw }}</p>
      <form method="post">
        <div class="tl_formbody_submit">
          <input type="hidden" name="FORM_SUBMIT" value="tl_template_import">
          <h4>{{ 'templates'|trans }}</h4>
          <select name="template" class="tl_select">
            <option value="">-</option>
            {% for template in templates %}
              <option value="{{ template }}">{{ template }}</option>
            {% endfor %}
          </select>
          <div class="tl_checkbox_container" style="margin-top:3px">
            <input type="checkbox" name="preserve" id="ctrl_preserve" class="tl_checkbox" value="1"> <label for="ctrl_preserve">{{ 'do_not_truncate'|trans }}</label>
          </div>
        </div>
        <div class="tl_formbody_submit">
          <div class="tl_submit_container">
            <button type="submit" class="tl_submit" onclick="if(!confirm('{{ 'import_confirm'|trans }}'))return false;Backend.getScrollOffset()">{{ 'template_save'|trans }}</button>
          </div>
        </div>
      </form>
    </div>
  </fieldset>
{% endblock %}
