{% extends "@ContaoInstallation/layout.html.twig" %}
{% trans_default_domain 'ContaoInstallationBundle' %}

{% block main %}
  <fieldset class="tl_tbox nolegend">
    <h3>{{ 'set_password'|trans }}</h3>
    {% if error is defined %}
      <p class="tl_error">{{ error }}</p>
    {%  endif %}
    <p>{{ 'set_password_hint'|trans|raw }}</p>
    <form method="post">
      <div class="tl_formbody">
        <input type="hidden" name="FORM_SUBMIT" value="tl_password">
        <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
        <h4><label for="password">{{ 'password'|trans }}</label></h4>
        <input type="password" name="password" id="password" class="tl_text" value="" autocomplete="new-password">
        <img src="../../system/themes/flexible/icons/visible.svg" width="16" height="16" alt="" title="{{ 'show_password'|trans }}" id="pw_password"/>
      </div>
      <div class="tl_formbody_submit">
        <div class="tl_submit_container">
          <button type="submit" class="tl_submit">{{ 'save_password'|trans }}</button>
        </div>
      </div>
    </form>
  </fieldset>
  <script>
    $('password').focus();
    $('pw_password').addEvent('click', function(e) {
      e.preventDefault();
      var el = $('password');
      if (el.type == 'password') {
        el.type = 'text';
        this.store('tip:title', '{{ 'hide_password'|trans }}');
        this.src = this.src.replace('visible.svg', 'visible_.svg');
      } else {
        el.type = 'password';
        this.store('tip:title', '{{ 'show_password'|trans }}');
        this.src = this.src.replace('visible_.svg', 'visible.svg');
      }
    });
  </script>
{% endblock %}
