{% set wrapperAttributes = attrs(cssID)
    .addClass([class, 'ce_accordion', 'ce_text', 'block'])
    .addStyle(style|default)
    .mergeWith(wrapperAttributes|default)
 %}

<section{{ wrapperAttributes }}>

  <div{{ attrs()
    .addClass(toggler)
    .addStyle(headlineStyle|default)
  }}>
    {{ headline|sanitize_html('contao')|insert_tag_raw }}
  </div>

  <div class="{{ accordion }}">
    <div>
      {% if not addBefore %}
        {{ text|default|csp_inline_styles|insert_tag_raw|raw }}
      {% endif %}

      {% if addImage %}
        {% include "@Contao/image.html.twig" %}
      {% endif %}

      {% if addBefore %}
        {{ text|default|csp_inline_styles|insert_tag_raw|raw }}
      {% endif %}
    </div>
  </div>

</section>
