<form{{ attrs()
  .setIfExists('action', action|default)
  .set('method', method)
  .set('enctype', enctype)
  .set('data-ajax-form', id, ajax)
  .mergeWith(attributes)
  .mergeWith(novalidate)
}}>
  <div class="formbody">
    {% if errors %}
      {% for error in errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    {% endif %}
    {% if 'get' != method %}
      <input type="hidden" name="FORM_SUBMIT" value="{{ formSubmit }}">
      <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">
      {% if maxFileSize %}
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ maxFileSize }}">
      {% endif %}
    {% endif %}
    {{ hidden|raw }}
    {{ fields|raw }}
  </div>
</form>
