{% trans_default_domain "contao_default" %}

{% set wrapperAttributes = attrs(cssID)
    .addClass([class, 'block'])
    .addStyle(style|default)
    .set('aria-label', 'MSC.breadcrumbMenu'|trans)
    .mergeWith(wrapperAttributes|default)
 %}

<!-- indexer::stop -->
<nav{{ wrapperAttributes }}>

  {% block headline %}
    {% if headline %}
      <{{ hl }}>{{ headline }}</{{ hl }}>
    {% endif %}
  {% endblock %}

  {% block content %}
    <ul>
      {% for item in items %}
        {% if item.isActive %}
          <li class="active" aria-current="page">{{ item.link|insert_tag }}</li>
        {% else %}
          <li><a href="{{ item.href }}">{{ item.link }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endblock %}

</nav>
<!-- indexer::continue -->

{% do add_schema_org(getSchemaOrgData.invoke()) %}
