{% extends "@Contao/block_unsearchable.html.twig" %}

{% set wrapperAttributes = attrs()
    .addClass('pagination')
    .mergeWith(wrapperAttributes|default)
 %}

{% block content %}

  <ul>
    {% if first|default %}
      <li class="first"><a href="{{ first.href }}" class="first" title="{{ first.title }}">{{ first.link }}</a></li>
    {% endif %}

    {% if previous|default %}
      <li class="previous"><a href="{{ previous.href }}" class="previous" title="{{ previous.title }}">{{ previous.link }}</a></li>
    {% endif %}

    {% for article in articles %}
      {% if article.isActive %}
        <li class="active"><strong class="active">{{ article.link }}</strong></li>
      {% else %}
        <li class="link"><a href="{{ article.href }}" class="link" title="{{ article.title }}">{{ article.link }}</a></li>
      {% endif %}
    {% endfor %}

    {% if next|default %}
      <li class="next"><a href="{{ next.href }}" class="next" title="{{ next.title }}">{{ next.link }}</a></li>
    {% endif %}

    {% if last|default %}
      <li class="last"><a href="{{ last.href }}" class="last" title="{{ last.title }}">{{ last.link }}</a></li>
    {% endif %}
  </ul>

{% endblock %}
