{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('ContaoCoreBundle:Collector:contao.svg') }}
        <span class="sf-toolbar-value">{{ collector.summary.version }}</span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Contao</b>
            {{ collector.summary.version }}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Reg. models</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ collector.summary.models > 50 ? 'red' : 'green' }}">{{ collector.summary.models }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Page layout</b>
            {{ collector.summary.layout|default('n/a') }}
        </div>
    {% endset %}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true, name: 'contao', additional_classes: 'sf-toolbar-block-right' }) }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ include('ContaoCoreBundle:Collector:contao.svg') }}</span>
        <strong>Contao</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Summary</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.summary.version }}</span>
            <span class="label">Contao version</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.summary.models }}</span>
            <span class="label">Registered models</span>
        </div>

        {% if collector.summary.layout %}
            <div class="metric">
                <span class="value">{{ collector.summary.layout }}</span>
                <span class="label">Page layout</span>
            </div>
        {% endif %}
    </div>

    <h2>Unknown insert tags</h2>
    {% if collector.unknowninserttags %}
        <table>
            <thead>
                <tr>
                    <th>Insert tag</th>
                </tr>
            </thead>
            <tbody>
                {% for name in collector.unknowninserttags %}
                    <tr>
                        <td><pre>{{ '{{' ~ name ~ '}}' }}</pre></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><em>No unknown insert tags used on the page.</em></p>
    {% endif %}

    <h2>Unknown insert tag flags</h2>
    {% if collector.unknowninserttagflags %}
        <table>
            <thead>
                <tr>
                    <th>Insert tag flag</th>
                </tr>
            </thead>
            <tbody>
                {% for name in collector.unknowninserttagflags %}
                    <tr>
                        <td><pre>{{ name }}</pre></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><em>No unknown insert tag flags used on the page.</em></p>
    {% endif %}

    <h2>Classes aliased</h2>
    <table>
        <thead>
            <tr>
                <th>Alias name</th>
                <th>Original name</th>
            </tr>
        </thead>
        <tbody>
            {% for class in collector.classesaliased %}
                <tr>
                    <td><pre>{{ class.alias }}</pre></td>
                    <td><pre>{{ class.original }}</pre></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Classes set</h2>
    <table>
        <thead>
            <tr>
                <th>Class name</th>
            </tr>
        </thead>
        <tbody>
            {% for class in collector.classesset %}
                <tr>
                    <td><pre>{{ class }}</pre></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if collector.additionaldata %}
        <h2>Other</h2>
        <pre>
            {{ dump(collector.additionaldata) }}
        </pre>
    {% endif %}
{% endblock %}
