{% trans_default_domain 'contao_default' %}

{% block pagination_component %}
    {% if pagination.pageCount > 1 %}
        {% set pagination_attributes = attrs(pagination_attributes|default)
            .addClass(['pagination', 'pagination-' ~ pagination.queryParameterName])
            .set('role', 'navigation')
            .set('aria-label', 'MSC.pagination'|trans)
        %}
        {% set link_element = form_submit|default ? 'button' : 'a' %}
        {% set link_attribute = form_submit|default ? 'formaction' : 'href' %}
        {% if not form_submit|default %}
            {% block pagination_component_inner %}
                <nav{{ pagination_attributes }}>
                    {% block pagination_total %}
                        <p>{{ 'MSC.totalPages'|trans([pagination.current, pagination.pageCount]) }}</p>
                    {% endblock %}
                    <ul>
                        {% block pagination_first %}
                            {% if pagination.first %}
                                <li class="first">
                                    {% set first_attributes = attrs()
                                        .set(link_attribute, pagination.urlForPage(pagination.first))
                                        .addClass('first')
                                    %}
                                    <{{ link_element }}{{ first_attributes }}>{% block pagination_first_label %}{{ 'MSC.first'|trans }}{% endblock %}</{{ link_element }}>
                                </li>
                            {% endif %}
                        {% endblock %}
                        {% block pagination_previous %}
                            {% if pagination.previous %}
                                <li class="previous">
                                    {% set previous_attributes = attrs()
                                        .set(link_attribute, pagination.urlForPage(pagination.previous))
                                        .addClass('previous')
                                    %}
                                    <{{ link_element }}{{ previous_attributes }}>{% block pagination_previous_label %}{{ 'MSC.previous'|trans }}{% endblock %}</{{ link_element }}>
                                </li>
                            {% endif %}
                        {% endblock %}

                        {% for page in pagination.pages %}
                            {% block pagination_link %}
                                <li>
                                    {% set link_attributes = attrs()
                                        .set(link_attribute, pagination.urlForPage(page))
                                        .set('aria-label', 'MSC.goToPage'|trans([page]))
                                        .set('aria-current', 'page', pagination.current|default == page)
                                        .addClass('link')
                                        .addClass('active', pagination.current|default == page)
                                        .mergeWith(link_attributes|default)
                                    %}
                                    <{{ link_element }}{{ link_attributes }}>{% block pagination_link_label %}{{ page }}{% endblock %}</{{ link_element }}>
                                </li>
                            {% endblock %}
                        {% endfor %}

                        {% block pagination_next %}
                            {% if pagination.next %}
                                <li class="next">
                                    {% set next_attributes = attrs()
                                        .set(link_attribute, pagination.urlForPage(pagination.next))
                                        .addClass('next')
                                    %}
                                    <{{ link_element }}{{ next_attributes }}>{% block pagination_next_label %}{{ 'MSC.next'|trans }}{% endblock %}</{{ link_element }}>
                                </li>
                            {% endif %}
                        {% endblock %}
                        {% block pagination_last %}
                            {% if pagination.last %}
                                <li class="last">
                                    {% set last_attributes = attrs()
                                        .set(link_attribute, pagination.urlForPage(pagination.last))
                                        .addClass('last')
                                    %}
                                    <{{ link_element }}{{ last_attributes }}>{% block pagination_last_label %}{{ 'MSC.last'|trans }}{% endblock %}</{{ link_element }}>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                </nav>
            {% endblock %}
        {% else %}
            <form method="POST">
                <input type="hidden" name="FORM_SUBMIT" value="{{ form_submit }}">
                <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">
                {{ block('pagination_component_inner') }}
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
