{% trans_default_domain "contao_default" %}

{% set view_attributes = attrs()
    .set('data-controller', 'contao--limit-height', limitHeight)
    .set('data-contao--limit-height-max-value', limitHeight, limitHeight)
    .set('data-contao--limit-height-expand-value', 'MSC.expandNode'|trans, limitHeight)
    .set('data-contao--limit-height-collapse-value', 'MSC.collapseNode'|trans, limitHeight)
    .set('data-contao--limit-height-expand-all-value', 'DCA.expandNodes.0'|trans, limitHeight)
    .set('data-contao--limit-height-expand-all-title-value', 'DCA.expandNodes.1'|trans, limitHeight)
    .set('data-contao--limit-height-collapse-all-value', 'DCA.collapseNodes.0'|trans, limitHeight)
    .set('data-contao--limit-height-collapse-all-title-value', 'DCA.collapseNodes.1'|trans, limitHeight)
%}
<div{{ view_attributes }}>
    {{ message|raw }}
    {{ operations|raw }}

    {% if isEmpty %}
        <p class="tl_empty">{{ 'MSC.noResult'|trans }}</p>
    {% else %}
        {% if not isSelecting %}
            {% block list %}
                <div class="tl_listing_container list_view" id="tl_listing" data-controller="contao--check-all" {{ pickerAttribute }}>
                    {% if isSelecting or pickerFieldType == 'checkbox' %}
                        <div class="tl_select_trigger">
                            <label for="tl_select_trigger" class="tl_select_label">{{ 'MSC.selectAll'|trans }}</label>
                            <input type="checkbox" id="tl_select_trigger" data-action="contao--check-all#toggleAll" class="tl_tree_checkbox">
                        </div>
                    {% endif %}

                    <table class="tl_listing{{ showColumns ? ' showColumns' }}{{ pickerFieldType ? ' picker unselectable' }}">
                        {% if not showColumns %}
                            {% block table %}
                                {% for row in rows ?? [] %}
                                    {% if row.groups ?? false %}
                                        <tr>
                                            <th colspan="2" class="{{ row.groups.class }}">{{ row.groups.name }}</th>
                                        </tr>
                                    {% endif %}
                                    <tr class="hover-row{{ row.isDraft ? ' draft' }}" data-controller="contao--deeplink contao--operations-menu" data-action="contextmenu->contao--operations-menu#open click->contao--check-all#toggleInput">
                                        {% if row.labels ?? false %}
                                            {% for label in row.labels %}
                                                <td colspan="{{ row.colspan }}" class="tl_file_list col_{{ label.key }}{{ label.isFirstOrderBy ? ' ordered_by' }}">{{ label.value|raw }}</td>
                                            {% endfor %}
                                        {% else %}
                                            <td class="tl_file_list">
                                                {% if row.hasLimitedHeight ?? false %}
                                                    <div data-contao--limit-height-target="node">{{ row.label }}</div>
                                                {% else %}
                                                    {{ row.label ?? '' }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        {% if isSelecting %}
                                            <td class="tl_file_list tl_right_nowrap"><input type="checkbox" name="IDS[]" id="ids_{{ row.id }}" class="tl_tree_checkbox" data-contao--check-all-target="input" data-action="contao--check-all#toggleInput" value="{{ row.id }}"></td>
                                        {% else %}
                                            <td class="tl_file_list tl_right_nowrap">{{ row.buttons|raw }}{{ row.pickerField|raw }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endblock %}
                        {% else %}
                            <thead>
                            <tr>
                                {% for field in fields %}
                                    <th class="tl_folder_tlist col_{{ field.name }}{{ field.isFirstOrderBy ? ' ordered_by' }}">{{ field.label }}</th>
                                {% endfor %}
                                <th class="tl_folder_tlist tl_right_nowrap"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ block('table') }}
                            </tbody>
                        {% endif %}
                    </table>

                    {% if pickerFieldType == 'radio' %}
                        <div class="tl_radio_reset">
                            <label for="tl_radio_reset" class="tl_radio_label">
                                {{ 'MSC.resetSelected'|trans }}
                            </label>
                            <input type="radio" name="picker" id="tl_radio_reset" value="" class="tl_tree_radio">
                        </div>
                    {% endif %}
                </div>
                {{ pagination|default|raw }}
            {% endblock %}
        {% else %}
            <form id="tl_select" class="tl_form{{ isSelecting ? ' unselectable' }}" method="post" novalidate>
                <div class="tl_formbody_edit">
                    <input type="hidden" name="FORM_SUBMIT" value="tl_select">
                    <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">
                    {{ block('list') }}
                </div>

                {{ buttons|raw }}
            </form>
        {% endif %}
    {% endif %}
</div>
