{% trans_default_domain 'contao_default' %}
{% extends '@Contao/backend/data_container/table/view/_record_listing.html.twig' %}

{% set view_attributes = attrs()
    .addClass('tree-view')
    .set('data-controller', 'contao--toggle-nodes')
    .set('data-contao--toggle-nodes-mode-value', sorting_mode)
    .set('data-contao--toggle-nodes-toggle-action-value', 'toggleStructure')
    .set('data-contao--toggle-nodes-load-action-value', 'loadStructure')
    .set('data-contao--toggle-nodes-request-token-value', contao.request_token)
    .set('data-contao--toggle-nodes-expand-value', 'MSC.expandNode'|trans)
    .set('data-contao--toggle-nodes-collapse-value', 'MSC.collapseNode'|trans)
    .set('data-contao--toggle-nodes-expand-all-value', 'DCA.expandNodes.0'|trans)
    .set('data-contao--toggle-nodes-expand-all-title-value', 'DCA.expandNodes.1'|trans)
    .set('data-contao--toggle-nodes-collapse-all-value', 'DCA.collapseNodes.0'|trans)
    .set('data-contao--toggle-nodes-collapse-all-title-value', 'DCA.collapseNodes.1'|trans)
%}

{% block list %}
    {% if has_clipboard_content %}
        <div id="paste_hint"><p>{{ 'MSC.selectNewPosition'|trans }}</p></div>
    {% endif %}

    {% set listing_attributes = attrs()
        .addClass(['tl_listing_container', 'tree_view'])
        .set('id', 'tl_listing')
        .set('data-controller', 'contao--check-all')
        .set('data-picker-value', picker.value|default, as_picker)
    %}
    <div{{ listing_attributes }}>
        {{ breadcrumb|raw }}
        {{ include('@Contao/backend/data_container/table/view/_select_all_button.html.twig') }}

        {% set tree_attributes = attrs()
            .addClass('tl_listing')
            .addClass('tl_tree', not extended_mode)
            .addClass('tl_tree_xtnd', extended_mode)
            .addClass(['picker', 'unselectable'], as_picker)
        %}
        <ul{{ tree_attributes }}>
            <li class="tl_folder_top cf" data-controller="contao--operations-menu" data-action="contextmenu->contao--operations-menu#open">
                <div class="tl_left"></div>
                <div class="tl_right">{{ operations|raw }}</div>
            </li>
            {{ records|join|raw }}
        </ul>

        {{ include('@Contao/backend/data_container/table/view/_picker_reset_button.html.twig') }}
    </div>
{% endblock %}

{% block no_records %}
    {% if breadcrumb %}
        <div class="tl_listing_container">{{ breadcrumb }}</div>
    {% endif %}

    {{ parent() }}
{% endblock %}
