{% trans_default_domain 'contao_default' %}
{% extends '@Contao/backend/data_container/table/view/_base.html.twig' %}

{% set view_attributes = attrs()
    .addClass('tree-view')
    .set('data-controller', 'contao--toggle-nodes')
    .set('data-contao--toggle-nodes-mode-value', sorting_mode)
    .set('data-contao--toggle-nodes-toggle-action-value', 'toggleStructure')
    .set('data-contao--toggle-nodes-load-action-value', 'loadStructure')
    .set('data-contao--toggle-nodes-request-token-value', contao.request_token)
    .set('data-contao--toggle-nodes-expand-value', 'MSC.expandNode'|trans)
    .set('data-contao--toggle-nodes-collapse-value', 'MSC.collapseNode'|trans)
    .set('data-contao--toggle-nodes-expand-all-value', 'DCA.expandNodes.0'|trans)
    .set('data-contao--toggle-nodes-expand-all-title-value', 'DCA.expandNodes.1'|trans)
    .set('data-contao--toggle-nodes-collapse-all-value', 'DCA.collapseNodes.0'|trans)
    .set('data-contao--toggle-nodes-collapse-all-title-value', 'DCA.collapseNodes.1'|trans)
%}

{% block listing %}
    {% if has_clipboard_content %}
        <div id="paste_hint"><p>{{ 'MSC.selectNewPosition'|trans }}</p></div>
    {% endif %}

    {% if records|length or has_clipboard_content %}
        {% embed '@Contao/backend/data_container/table/view/_record_listing.html.twig' with {
            listing_attributes: attrs().addClass('tree_view'),
        } %}
            {% block records %}
                {{ breadcrumb|raw }}
                {{ block('select_all_button') }}

                {% set tree_attributes = attrs()
                    .addClass('tl_listing')
                    .addClass('tl_tree', not extended_mode)
                    .addClass('tl_tree_xtnd', extended_mode)
                    .addClass(['picker', 'unselectable'], as_picker)
                %}
                <ul{{ tree_attributes }}>
                    <li class="tl_folder_top cf" data-controller="contao--operations-menu" data-action="contextmenu->contao--operations-menu#open">
                        <div class="tl_left"></div>
                        <div class="tl_right">{{ operations|raw }}</div>
                    </li>
                    {{ records|join|raw }}
                </ul>
            {% endblock %}
        {% endembed %}
    {% else %}
        {% if breadcrumb %}
            <div class="tl_listing_container">{{ breadcrumb|raw }}</div>
        {% endif %}

        <p class="tl_empty">{{ 'MSC.noResult'|trans }}</p>
    {% endif %}
{% endblock %}
