{% if stream %}
    <turbo-stream action="replace" method="morph" target="backend_favorite">
        <template>
{% endif %}
            <form method="post" data-turbo-stream="true" id="backend_favorite">
                <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">
                <input type="hidden" name="FORM_SUBMIT" value="toggle-favorite">
                {% if active %}
                    <button type="submit" class="icon-favorite" title="{{ 'MSC.unfavorite'|trans([], 'contao_default') }}" onclick="return confirm('{{ 'MSC.confirmUnfavorite'|trans([], 'contao_default')|e('js')|e('html') }}')">{{ backend_icon('favorite_active.svg') }}</button>
                {% else %}
                    <button type="submit" class="icon-favorite" title="{{ 'MSC.favorite'|trans([], 'contao_default') }}">{{ backend_icon('favorite.svg') }}</button>
                {% endif %}
            </form>
{% if stream %}
        </template>
    </turbo-stream>
{% endif %}

{% if stream %}
    <turbo-stream action="remove" target="favorites-menu{% if not empty %}-{{ id }}{% endif %}"></turbo-stream>
{% endif %}
