{% trans_default_domain 'contao_default' %}
{% use 'form_div_layout.html.twig' %}

{# Misc #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <p class="error">
            {%- for error in errors -%}
                {%- if translation_domain is same as(false) -%}
                    {{ error.message }}
                {% else %}
                    {{ error.message|trans }}
                {% endif %}
                {% if not loop.last %}
                    <br />
                {% endif %}
            {%- endfor -%}
        </p>
    {%- endif -%}
{%- endblock form_errors -%}

{# Labels #}
{%- block form_label -%}
    {%- if required -%}
        {% set label_attr = label_attr|merge({class: 'mandatory'}) %}
    {%- endif -%}

    {{ parent() }}
{%- endblock form_label -%}

{%- block form_label_content -%}
    {%- if required|default -%}
        <span class="invisible">{{ 'MSC.mandatory'|trans }} </span>
    {%- endif -%}

    {{ parent() }}

    {%- if required|default -%} <span class="mandatory">*</span>{%- endif -%}
{%- endblock form_label_content -%}

{# Custom form types #}
{%- block altcha_row -%}
    {% if label %}
        {{ form_label(form) }}
    {% endif %}

    <noscript><p class="warning">{{ 'ERR.altchaJavaScriptRequired'|trans }}</p></noscript>

    {{ form_errors(form) }}

    {%- if not can_use_altcha -%}
        <p class="error">{{ 'ERR.altchaInsecureConnection'|trans }}</p>
    {%- else -%}
        <altcha-widget
            name="{{ name }}"
            maxnumber="{{ max_number }}"
            challengeurl="{{ challenge_url }}"
            strings="{{ strings }}"
            workerurl="{{ asset('js/worker.js', 'contao-components/altcha') }}"

            {%- if auto -%}
                auto="{{ auto }}"
            {%- endif -%}

            {%- if hide_logo -%}
                hidelogo="{{ hide_logo }}"
            {%- endif -%}

            {%- if hide_footer -%}
                hidefooter="{{ hide_footer }}"
            {%- endif -%}
        >
        </altcha-widget>
    {%- endif -%}
{%- endblock altcha_row -%}
