{% trans_default_domain 'contao_default' %}

{% set permissions = [
    {label: 'CHMOD.createpage', controls: [1, 2]},
    {label: 'CHMOD.editpage', value: 1},
    {label: 'CHMOD.editnavigation', value: 2},
    {label: 'CHMOD.deletepage', value: 3},
    {label: 'CHMOD.createarticles', controls: [4, 5]},
    {label: 'CHMOD.editarticles', value: 4},
    {label: 'CHMOD.movearticles', value: 5},
    {label: 'CHMOD.deletearticles', value: 6},
] %}

<input type="hidden" name="{{ name }}" value="">
<table id="ctrl_{{ id }}" class="tl_chmod" data-controller="contao--check-all contao--checkbox-group" data-action="input->contao--checkbox-group#sync">
    <tr>
        <th>
            <input type="checkbox" id="check_all_{{ id }}" class="tl_checkbox" data-action="contao--check-all#toggleAll contao--scroll-offset#store">
            <label for="check_all_{{ id }}" class="check-all"><em>{{ 'MSC.selectAll'|trans }}</em></label>
        </th>
        {% for permission in permissions %}
            <th scope="col">{{ permission.label|trans }}</th>
        {% endfor %}
    </tr>

    {% for k, v in objects %}
        <tr>
            <th scope="row">{{ "CHMOD.#{v}"|trans }}</th>
            {% for permission in permissions %}
                <td>
                    {% if permission.controls is defined %}
                        {% set controlled_ids = permission.controls|map(value => "ctrl_#{id}_#{k}#{value}")|join(' ') %}
                        {% set input_attributes = attrs(attributes)
                            .set('id', "ctrl_#{id}_#{k}_#{loop.index}")
                            .set('type', 'checkbox')
                            .set('aria-controls', controlled_ids)
                            .set('data-contao--checkbox-group-target', 'toggle')
                            .set('data-action', 'focus->contao--scroll-offset#store contao--checkbox-group#toggleGroup')
                        %}
                    {% else %}
                        {% set value = k ~ permission.value %}
                        {% set input_attributes = attrs(attributes)
                            .set('id', "ctrl_#{id}_#{value}")
                            .set('type', 'checkbox')
                            .set('name', "#{name}[]")
                            .set('value', value)
                            .set('data-contao--check-all-target', 'input')
                            .set('data-action', 'focus->contao--scroll-offset#store contao--check-all#toggleInput')
                            .setIfExists('checked', value in values)
                        %}
                    {% endif %}
                    <input{{ input_attributes }}>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
