{% extends "@Contao/block_unsearchable.html.twig" %}

{% block content %}

  <form id="{{ formId }}" method="post">
    <div class="formbody">
      <input type="hidden" name="FORM_SUBMIT" value="{{ formId }}">
      <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
      {{ fields }}
      <div class="widget widget-submit">
        <button type="submit" class="submit">{{ slabel }}</button>
      </div>
    </div>
  </form>

{% endblock %}
