{% trans_default_domain "contao_default" %}
{% use "@Contao/component/_stylesheet.html.twig" %}

{% set wrapper_attributes = attrs()
    .addClass([class, 'nav-wrapper', 'block'])
    .mergeWith(wrapper_attributes|default)
%}

{% set button_attributes = attrs()
    .addClass('nav-burger')
    .set('title', 'MSC.ariaMenuToggle'|trans)
    .set('aria-haspopup', 'menu')
    .set('aria-expanded', 'false')
    .mergeWith(button_attributes|default)
%}

{% set nav_attributes = attrs()
    .addClass('navigation-main')
    .setIfExists('style', style)
    .setIfExists('aria-label', ariaLabel|default)
    .mergeWith(nav_attributes|default)
%}

{% set skiplink_attributes = attrs()
    .set('href', request ~ '#' ~ skipId)
    .addClass(['invisible', 'skip-link'])
    .mergeWith(skiplink_attributes|default)
%}

{% block content %}
    <!-- indexer::stop -->
    <div{{ cssID|default|replace({'"':''}) }}{{ wrapper_attributes }}>

        {% block toggle %}
            <button{{ button_attributes }}>
                <span class="nav-burger__inner">
                    <span class="icon-line"></span>
                </span>
            </button>
        {% endblock %}

        {% block navigation %}
            <nav{{ nav_attributes }}>
                {% if headline|default %}
                    <{{ hl }}>{{ headline }}</{{ hl }}>
                {% endif %}


                <a{{ skiplink_attributes }}>{{ skipNavigation }}</a>

                {{ items|join|raw }}

                <span id="{{ skipId }}" class="invisible"></span>

            </nav>
        {% endblock %}
    </div>
    <!-- indexer::continue -->
{% endblock %}

{% block script %}
    {% add "accessible_navigation_js" to head %}
        <script src="{{ asset('navigation.js', 'contao_core') }}" type="module"></script>
    {% endadd %}

    {% set script_attributes = attrs()
        .setIfExists('nonce', csp_nonce('script-src'))
        .mergeWith(script_attributes|default)
    %}

    <script{{ script_attributes }}>
        window.addEventListener('load', () => {
            new AccessibilityNavigation({
                selector: '.navigation-main',
                toggle: '.nav-burger',
                minWidth: 1024,
                classes: {
                    submenuButton: 'btn-toggle-submenu',
                    expand: 'nav-expanded'
                },
                ariaLabels: {
                    'menu': '{{ ariaLabel|default('MSC.ariaMenuLabel'|trans) }}',
                    'expand': '{{ 'MSC.ariaMenuExpand'|trans }}',
                    'collapse': '{{ 'MSC.ariaMenuCollapse'|trans }}',
                }
            });
        })
    </script>
{% endblock %}

{% block style %}
    {% add "accessible_navigation_css" to stylesheets %}
        {% with {file: navigation_css_file|default(asset('navigation.css', 'contao_core'))} %}
            {{ block('stylesheet_component') }}
        {% endwith %}
    {% endadd %}
{% endblock %}
