<div class="hidden lg:flex lg:flex-shrink-0">
    <div class="flex flex-col w-64">
        <div class="flex flex-col h-0 flex-1">
            <div class="flex-1 pt-5 pb-4 overflow-y-auto">
                {% set menu = knp_menu_get('be_menu') %}
                <nav class="space-y-3" aria-label="Sidebar">
                    {% for item in menu.children|filter(v => v.isDisplayed) %}
                        <div class="space-y-1">
                            <button
                                class="group w-full flex items-center pl-4 pr-1 py-1 text-xs font-medium uppercase tracking-wide rounded-md text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 focus:outline-none focus:ring-2 focus:ring-primary-500">
                                <svg class="text-gray-400 group-hover:text-gray-500 mr-3 h-4 w-4"
                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"/>
                                </svg>
                                {{ item.label }}
                            </button>
                            <div>
                                {% for item in item.children|filter(v => v.isDisplayed) %}
                                    {% if item.current %}
                                        <a
                                            href="{{ item.uri }}"
                                            aria-current="page"
                                            class="bg-gray-200 dark:bg-gray-900 border-primary-500 rounded-r text-gray-900 dark:text-gray-100 group flex items-center pr-3 py-1.5 pl-10 text-sm font-medium border-l-4">
                                            {{ item.label }}
                                        </a>
                                    {% else %}
                                        <a
                                            href="{{ item.uri }}"
                                            class="border-transparent text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 group flex items-center pr-3 py-1.5 pl-10 text-sm font-medium border-l-4">
                                            {{ item.label }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </nav>
            </div>
            <div class="flex-shrink-0 flex p-4">
                <p class="text-xs text-gray-400">Contao version<br>Mehr erfahren auf contao.org</p>
            </div>
        </div>
    </div>
</div>
