{% trans_default_domain 'contao_exception' %}
{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ 'XPT.requestToken'|trans }}
{% endblock %}
{% block matter %}
    <p>{{ 'XPT.invalidToken'|trans }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ 'XPT.tokenRetry'|trans|raw }}</p>
{% endblock %}
{% block explain %}
    <p>{{ 'XPT.tokenExplainOne'|trans|raw }}</p>
    <p>{{ 'XPT.tokenExplainTwo'|trans(['https://to.contao.org/support'])|raw }}</p>
{% endblock %}
