{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_text.html.twig" %}

{% set attributes = attrs(attributes|default).addClass('content-accordion') %}

{% if not nested_fragments and layout is defined %}
    {% set layout_attributes = attrs().addClass('content-text media media--' ~ layout, layout and image) %}
{% endif %}

{% block wrapper_tag %}section{% endblock %}

{% block content %}
    <div class="{{ toggler }}">{{ title }}</div>
    <div class="{{ accordion }}"><div{{ layout_attributes|default }}>
        {% if nested_fragments %}
            {% for element in nested_fragments %}
                {{ content_element(element) }}
            {% endfor %}
        {% else %}
            {{ block('text_component') }}
        {% endif %}
    </div></div>
{% endblock %}

{% block script %}
    {% add "handorgel_js" to body %}
        <script src="{{ asset('js/handorgel.min.js', 'contao-components/handorgel') }}"></script>
        <script>
            (function () {
                // DO NOT CHANGE THIS FUNCTION!
                // Set the Handorgel.js options in the function call below.
                const initAccordion = function (selector, options) {
                    const headerElements = document.querySelectorAll(selector);
                    const contentElements = [];

                    if (!headerElements) {
                        return;
                    }

                    headerElements.forEach((toggler) => {
                        const button = document.createElement('button');
                        button.type = 'button';
                        button.append(...toggler.childNodes);
                        toggler.appendChild(button);
                        toggler.parentNode.classList.add('handorgel');
                        contentElements.push(toggler.nextElementSibling);
                    });

                    const accordion = new handorgel(
                        document.body,
                        Object.assign({ headerElements, contentElements }, options || {})
                    );

                    // Show the first element
                    accordion.folds[0].open();
                }

                // Change this selector according to your template, or duplicate
                // the line if you use multiple accordion element classes.
                initAccordion('.content-accordion > .{{ toggler }}', {
                    // Put custom options here
                    multiSelectable: false,
                });
            })();
        </script>
    {% endadd %}
{% endblock %}

{% block style %}
    {% add "handorgel_css" to head %}
        <link rel="stylesheet" href="{{ asset('css/handorgel.min.css', 'contao-components/handorgel') }}">
    {% endadd %}
{% endblock %}
