{% trans_default_domain 'contao_default' %}
{% extends '@Contao/content_element/_base.html.twig' %}

{% if form|default %}
    {% form_theme form '@Contao/form/contao_layout.html.twig' %}
{% endif %}

{% block wrapper %}
    {% if has_member|default %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="formbody">
            {{ form_row(form.REQUEST_TOKEN) }}

            <div class="widget widget-text">
                {{ form_label(form.oldpassword) }}
                {{ form_errors(form.oldpassword) }}
                {{ form_widget(form.oldpassword) }}
            </div>

            <div class="widget widget-text">
                {{ form_label(form.newpassword) }}
                {{ form_errors(form.newpassword) }}
                {{ form_widget(form.newpassword) }}
            </div>

            <div class="widget widget-submit">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
