{% trans_default_domain "contao_default" %}
{% extends "@Contao/content_element/_base.html.twig" %}

{% block wrapper %}
    {% if as_editor_view %}
        <i class="placeholder-explanation">{{ ('CTE.' ~ type ~ '.1')|trans }}</i>
    {% elseif has_member %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <form class="tl_change_password" id="{{ form_id|default }}" method="post">
        <div class="formbody">
            <input type="hidden" name="FORM_SUBMIT" value="{{ form_id|default }}">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">

            {% if error|default %}
                <p class="error">{{ 'ERR.oldPasswordWrong'|trans }}</p>
            {% endif %}

            <div class="widget widget-text">
                <label for="ctrl_oldpassword">
                    <span class="invisible">{{ 'MSC.mandatory'|trans }} </span>{{ 'MSC.oldpassword'|trans }}<span class="mandatory">*</span>
                </label>
                <input type="password" name="oldpassword" id="ctrl_oldpassword" class="text password mandatory" value="" required="" autocomplete="current-password">
            </div>

            <div class="widget widget-text">
                <label for="ctrl_password">
                    <span class="invisible">{{ 'MSC.mandatory'|trans }} </span>{{ 'MSC.newPassword'|trans }}<span class="mandatory">*</span>
                </label>
                <input type="password" name="password" id="ctrl_password" class="text password mandatory" value="" autocomplete="new-password" required="">
            </div>

            <div class="widget widget-submit">
                <button type="submit" class="submit">{{ 'MSC.changePassword'|trans }}</button>
            </div>
        </div>
    </form>
{% endblock %}
