{% trans_default_domain 'contao_default' %}
{% extends '@Contao/content_element/_base.html.twig' %}

{% block wrapper %}
    {% if as_editor_view %}
        <i class="placeholder-explanation">{{ ('CTE.' ~ type ~ '.1')|trans }}</i>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="formbody">
        <input type="hidden" name="FORM_SUBMIT" value="{{ form_id|default }}">
        <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">

        {% if ask_for_username %}
            <div class="widget widget-text mandatory">
                <label for="ctrl_username" class="mandatory">
                    <span class="invisible">{{ 'MSC.mandatory'|trans }} </span>Username<span class="mandatory">*</span>
                </label>
                <input type="text" name="username" id="ctrl_username" class="text mandatory" value="" required="" maxlength="64" autocapitalize="none" autocomplete="username">
            </div>
        {% endif %}

        <div class="widget widget-text mandatory">
            <label for="ctrl_email" class="mandatory">
                <span class="invisible">{{ 'MSC.mandatory'|trans }} </span>E-mail address<span class="mandatory">*</span>
            </label>
            <input type="email" name="email" id="ctrl_email" class="text mandatory" value="" required="" maxlength="255">
        </div>

        {% if add_captcha %}
            <div class="widget widget-captcha mandatory" style="display: none;">
                <label for="ctrl_lost_password">
                    <span class="invisible">{{ 'MSC.mandatory'|trans }} </span>Security question<span class="mandatory">*</span>
                </label>

                <input type="text" name="captcha_lost_password" id="ctrl_lost_password" class="captcha mandatory" value="" aria-describedby="captcha_text_lost_password" maxlength="2">
                <span id="captcha_text_lost_password" class="captcha_text">Please add 9 and 3.</span>
                <input type="hidden" name="captcha_lost_password_hash145" value="8bf968994230e2f54243d27b7a6918df18dfca011f52b7c6dfd5a649c0ba4ffc">

                <div style="display:none">
                    <label for="ctrl_lost_password_hp">Do not fill in this field</label>
                    <input type="text" name="captcha_lost_password_name" id="ctrl_lost_password_hp" value="">
                </div>
                <script src="/_contao/captcha/en" data-id="lost_password" data-name="captcha_lost_password" async=""></script>
            </div>
        {% endif %}

        <div class="widget widget-submit">
            <button type="submit" class="submit">Request password</button>
        </div>
    </div>
{% endblock %}
