<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    {% block head %}
        <meta charset="{{ charset }}">
        <title>{{ title }} | {{ host }}</title>
        <base href="{{ base }}">

    {% block meta %}
    <meta name="generator" content="Contao Open Source CMS">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <meta name="referrer" content="origin">
    {% endblock %}

    {% block stylesheets %}
        {{ contao_backend_link_tags('app') }}

        {# deprecated entries #}
    <link rel="stylesheet" href="assets/colorpicker/css/mooRainbow.min.css">
    <link rel="stylesheet" href="assets/chosen/css/chosen.min.css">
    <link rel="stylesheet" href="assets/simplemodal/css/simplemodal.min.css">
    <link rel="stylesheet" href="assets/datepicker/css/datepicker.min.css">
    {% endblock %}

    {% block javascripts %}
        {{ contao_backend_script_tags('app') }}

        {# deprecated entries #}
        <script>{{ localeString|raw }}</script>
        <script src="assets/mootools/js/mootools.min.js"></script>
        <script src="assets/colorpicker/js/mooRainbow.min.js"></script>
        <script src="assets/chosen/js/chosen.min.js"></script>
        <script src="assets/simplemodal/js/simplemodal.min.js"></script>
        <script src="assets/datepicker/js/datepicker.min.js"></script>
        <script src="bundles/contaocore/mootao.js"></script>
        <script src="bundles/contaocore/core.js"></script>
        <script src="system/themes/flexible/hover.min.js"></script>
        <script>{{ dateString|raw }}</script>
    {% endblock %}

        {# deprecated entries #}
        {{ stylesheets|default|raw }}
        {{ javascripts|default|raw }}
    {% endblock %}
</head>
<body class="font-sans">

<div class="relative min-h-screen flex flex-col bg-gray-100 dark:bg-gray-800">
    {% include '@ContaoCore/Backend/Section/navbar.html.twig' %}

    <div class="flex-grow flex overflow-hidden w-full max-w-7xl mx-auto">
        {% include '@ContaoCore/Backend/Section/sidebar.html.twig' %}

        <div class="flex flex-col min-w-0 flex-1 overflow-hidden md:py-6">
            <main
                id="main"
                class="max-w-7xl w-full mx-auto md:px-4 sm:px-6 md:px-8"
                tabindex="0"
                aria-labelledby="main_headline">

                <div class="px-4 lg:px-0 pt-4 pb-2 md:pb-4">
                    <h1 class="text-lg md:text-xl font-semibold text-gray-900 dark:text-gray-100">{{ headline|raw }}</h1>
                </div>

                <div class="space-y-8">
                    {{ main|raw }}
                </div>
            </main>
        </div>
    </div>
</div>

</body>
</html>
