<!-- indexer::stop -->
<div class="form">
    {% if requireLogin|default %}
        <p class="info">{{ login }}</p>
    {% else %}
        {% if confirm|default %}
            <p class="tl_confirm">{{ confirm }}</p>
        {% elseif allowComments|default %}
            <form id="{{ formId }}" method="post">
                <div class="formbody">
                    <input type="hidden" name="FORM_SUBMIT" value="{{ formId }}">
                    <input type="hidden" name="REQUEST_TOKEN" value="{{ contao.request_token }}">
                    {% for field in fields %}
                        {{ field.parse()|raw }}
                    {% endfor %}
                    <div class="widget widget-submit">
                        <button type="submit" class="submit">{{ submit }}</button>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
</div>
<!-- indexer::continue -->
