
<div class="comment_default" id="{{ id }}">
  <p class="info">{{ by }} {% if website %}<a href="{{ website }}" target="_blank" rel="nofollow noreferrer noopener">{{ name }}</a>{% else %}{{ name }}{% endif %} | <time datetime="{{ datetime }}" class="date">{{ date }}</time></p>
  <div class="comment">
    {{ comment }}
  </div>
  {% if addReply %}
    <div class="reply">
      <p class="info">{{ rby }} {{ author.name }}</p>
      <div class="comment">
        {{ reply|csp_inline_styles }}
      </div>
    </div>
  {% endif %}
</div>
