
{% if header %}
  <div class="header">
    {% if firstDay %}<span class="day">{{ firstDay }}, </span>{% endif %}<span class="date">{{ firstDate }}</span>
  </div>
{% endif %}

<div class="event layout_teaser{{ classList }}">

  {% if hasDetails %}
    <h2><a href="{{ href }}" title="{{ title }} ({% if day %}{{ day }}, {% endif %}{{ date }}{% if time %} {{ time }}{% endif %})"{{ target }}>{{ link }}</a></h2>
  {% else %}
    <h2>{{ title }}</h2>
  {% endif %}

  <p class="time"><time datetime="{{ datetime }}">{{ date }}{% if time %} {{ time }}{% endif %}</time></p>

  {% if location %}
    <p class="location">{{ location }}{% if address %} ({{ address }}){% endif %}</p>
  {% endif %}

  <div class="ce_text block">
    {% if not addBefore %}
      {{ teaser|csp_inline_styles }}
    {% endif %}

    {% if addImage %}
      {% include "@Contao/image.html.twig" %}
    {% endif %}

    {% if addBefore %}
      {{ teaser|csp_inline_styles }}
    {% endif %}
  </div>

  {% if hasDetails %}
    <p class="more"><a href="{{ href }}" title="{{ readMore }}"{{ target }}>{{ more }}<span class="invisible"> {{ link }}</span></a></p>
  {% endif %}

</div>

{#
  This template is used as an event list template by default, so we only add
  JSON-LD data in case this is an event without a reader
#}
{% if not hasReader %}
    {% do add_schema_org(getSchemaOrgData.invoke()) %}
{% endif %}
