{% extends '@Contao/backend/listing/be_listing.html.twig' %}

{% block content %}
    {{ help ?? ''|raw }}
    {{ globalOperations ?? ''|raw }}

    <table {{ wrapper_attributes }}>
        {% block table %}
            {{ children ?? ''|raw }}
        {% endblock table %}
    </table>

    {{ reset }}
{% endblock content %}
