{# This component outputs a pagination created with Contao\Pagination. #}

{% block pagination %}

<!-- indexer::stop -->
<nav class="pagination block" aria-label="{{ pagination.title }}">
    <p>{{ pagination.total }}</p>
    <ul>
        {% if pagination.hasFirst %}
        <li class="first"><a href="{{ pagination.first.href }}" class="first" title="{{ pagination.first.title }}">{{ pagination.first.link }}</a></li>
        {% endif %}

        {% if pagination.hasPrevious %}
        <li class="previous"><a href="{{ pagination.previous.href }}" class="previous" title="{{ pagination.previous.title }}">{{ pagination.previous.link }}</a></li>
        {% endif %}

        {% for page in pagination.pages %}
        {% if page.href is null %}
        <li><strong class="active">{{ page.page }}</strong></li>
        {% else %}
        <li><a href="{{ page.href }}" class="link" title="{{ page.title }}">{{ page.page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if pagination.hasNext %}
        <li class="next"><a href="{{ pagination.next.href }}" class="next" title="{{ pagination.next.title }}">{{ pagination.next.link }}</a></li>
        {% endif %}

        {% if pagination.hasLast %}
        <li class="last"><a href="{{ pagination.last.href }}" class="last" title="{{ pagination.last.title }}">{{ pagination.last.link }}</a></li>
        {% endif %}
    </ul>
</nav>
<!-- indexer::continue -->
{% endblock %}
