<div class="tl_formbody_submit"{% if right|default %} style="text-align:right"{% endif %}>
    <div class="tl_submit_container">
        {% if buttons|length < 3 %}
            {{ buttons|join(' ')|raw }}
        {% else %}
            {{ buttons[0]|raw }}
            {% set button_wrapper_attributes = attrs()
                .addClass('split-button')
                .set('data-controller', 'contao--dropdown')
                .set('data-action', 'click@document->contao--dropdown#documentClick keydown.esc@document->contao--dropdown#close')
                .set('data-contao--dropdown-name-value', 'split_button')
                .set('data-contao--dropdown-controls-class-value', 'invisible')
                .set('data-contao--dropdown-inverse-mode-value', true)
            %}
            <div{{ button_wrapper_attributes }}>
                {{ buttons[1]|raw }}
                {% set button_attributes = attrs()
                    .addClass('d-xl-none')
                    .set('type', 'button')
                    .set('data-contao--dropdown-target', 'button')
                    .set('data-action', 'contao--dropdown#toggle:prevent')
                %}
                <button{{ button_attributes }}>{{ backend_icon('navcol.svg') }}</button>
                <ul class="invisible" data-contao--dropdown-target="dropdown">
                    {% for button in buttons|slice(2) %}
                        <li>{{ button|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
