{% if operations is not empty %}
    <div id="tl_buttons">
        {% for operation in operations %}

            {% if operation.html is defined %}
                {{ operation.html|raw }}
            {% elseif operation.href|default %}
                <a
                    href="{{ operation.href }}"
                    {% if operation.title|default %}title="{{ operation.title }}"{% endif %}
                    {{ operation.attributes|default|raw }}
                >
                    {{ operation.label|default }}
                </a>
            {% endif %}

        {% endfor %}
    </div>
{% endif %}
