{% trans_default_domain 'contao_default' %}
{% set has_submenu = false %}

<div class="operations">
    <ul id="operations{{ id }}" data-contao--operations-menu-target="menu">
        {% for operation in operations %}
            {% set isLink = operation.href|default or (operation.html is defined and '<a ' in operation.html) %}
            {% if has_primary and not operation.primary|default(false) %}
                {% set has_submenu = has_submenu or isLink %}
            {% else %}
                {{ _self.operation(operation) }}
            {% endif %}
        {% endfor %}
        {% if has_submenu or not has_primary %}
            <li class="operations-menu-container">
                <button type="button" data-contao--operations-menu-target="controller"{% if not has_primary %} style="display:none"{% endif %}>
                    {{ backend_icon('more.svg', 'DCA.operations'|trans([id])) }}
                </button>
                <ul class="operations-menu" data-contao--operations-menu-target="submenu">
                    {% for operation in operations %}
                        {{ _self.operation(operation, true) }}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</div>

{% macro operation(operation, menu = false) %}
    {% if operation.html is defined and (not menu or '<a ' in operation.html) %}
        {% if operation.html|trim is not empty %}<li{% if menu %} data-contao--operations-menu-target="title"{% endif %}>{{ operation.html|raw }}</li>{% endif %}
    {% elseif operation.href|default %}
        <li{% if menu and not operation.title|default %} data-contao--operations-menu-target="title"{% endif %}>
            <a
                href="{{ operation.href }}"
                {% if operation.popup|default %}onclick="Backend.openModalIframe({title:'{{ operation.label|default|replace({"'": "\'"}) }}', url:this.href});return false"{% endif%}
                {{ operation.attributes|default|raw }}
            >
                {{ operation.icon|raw }}
                {% if menu %}{{ operation.title|default }}{% endif %}
            </a>
        </li>
    {% elseif operation.icon|default and not menu %}
        <li>{{ operation.icon|raw }}</li>
    {% endif %}
{% endmacro %}
