{% trans_default_domain 'contao_default' %}

{% set operation_attributes = attrs()
    .addClass('operations')
    .set('id', 'tl_buttons', global_operations)
    .set('data-controller', 'contao--operations-menu', global_operations)
    .set('data-action', 'contextmenu->contao--operations-menu#open', global_operations)
%}
<div{{ operation_attributes }}>
    <ul data-contao--operations-menu-target="menu">
        {% set add_submenu = false %}
        {% set show_button = false %}

        {% for operation in operations %}
            {# Add submenu if operation has a link or button #}
            {% set add_submenu = add_submenu or operation.href|default or (operation.html is defined and ('<a ' in operation.html or '<button ' in operation.html)) %}

            {% if has_primary and not operation.primary|default(false) %}
                {% set show_button = true %}
            {% else %}
                {{ include('@Contao/backend/data_container/_operation.html.twig', {
                    menu: false,
                    show_labels: global_operations,
                    add_separator: false,
                }) }}
            {% endif %}
        {% endfor %}

        {% if add_submenu %}
            {% set submenu_attributes = attrs()
                .addClass('operations-menu-container')
                .addClass('is-hidden', not show_button)
            %}
            <li{{ submenu_attributes }}>
                <button type="button" class="has-icon" data-contao--operations-menu-target="controller">
                    {% if global_operations %}
                        {{ backend_icon('more.svg', 'DCA.global_operations'|trans) }}
                    {% else %}
                        {{ backend_icon(more_icon|default('more.svg'), more_alt|default('DCA.operations')|trans([id|default])) }}
                    {% endif %}
                </button>
                <ul class="operations-menu" data-contao--operations-menu-target="submenu">
                    {# Reduce the list of operations and separators to one, where add_separator is true if the previous was a separator #}
                    {% set operations_with_separators = operations|reverse|reduce(
                        (list, operation) => operation.separator|default ?
                            [list|first|merge({add_separator: true}), ...list[1:]] :
                            [operation|merge({add_separator: false}), ...list|default([])],
                    ) %}
                    {% for operation in operations_with_separators %}
                        {{ include('@Contao/backend/data_container/_operation.html.twig', {
                            menu: true,
                            show_labels: global_operations,
                            add_separator: operation.add_separator,
                        }) }}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</div>
