{% for operation in operations %}
    {{ _self.operation(operation) }}
{% endfor %}

{% macro operation(operation) %}
    {% if operation.html|default %}
        {{ operation.html|raw }}
    {% elseif operation.href|default %}
        <a
            href="{{ operation.href }}"
            {% if operation.title|default %}title="{{ operation.title }}"{% endif %}
            {% if operation.popup|default %}
                onclick="Backend.openModalIframe({title:'{{ operation.label|default|replace({"'": "\'"}) }}', url:this.href});return false"
            {% endif%}
            {{ operation.attributes|default|raw }}
        >{{ operation.icon|raw }}</a>
    {% elseif operation.icon|default %}
        {{ operation.icon|raw }}
    {% endif %}
{% endmacro %}
