{% trans_default_domain 'contao_default' %}
{% set has_submenu = false %}
<div class="operations">
    <ul>
        {% for operation in operations %}
            {% if has_primary and not operation.primary|default(false) %}
                {% set has_submenu = true %}
            {% else %}
                {{ _self.operation(operation) }}
            {% endif %}
        {% endfor %}
        {% if has_submenu or not has_primary %}
            <li class="operations-menu-container" data-contao--operations-menu-target="container">
                {% if has_primary %}
                    <button type="button" title="{{ 'MSC.more'|trans }}" data-contao--operations-menu-target="controller">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
                    </button>
                {% endif %}
                <ul class="operations-menu" data-contao--operations-menu-target="menu">
                    {% for operation in operations %}
                        {{ _self.operation(operation, true) }}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</div>

{% macro operation(operation, linksOnly = false) %}
    {% if operation.html|default and (not linksOnly or '<a ' in operation.html) %}
        <li>{{ operation.html|raw }}</li>
    {% elseif operation.href|default %}
        <li>
            <a
                href="{{ operation.href }}"
                {% if operation.title|default %}title="{{ operation.title }}"{% endif %}
                {% if operation.popup|default %}onclick="Backend.openModalIframe({title:'{{ operation.label|default|replace({"'": "\'"}) }}', url:this.href});return false"{% endif%}
                {{ operation.attributes|default|raw }}
            >{{ operation.icon|raw }}</a>
        </li>
    {% elseif operation.icon|default and not linksOnly %}
        <li>{{ operation.icon|raw }}</li>
    {% endif %}
{% endmacro %}
