{% trans_default_domain 'contao_tl_user_group' %}

<table id="ctrl_{{ id }}" class="tl_chmod">
    <thead>
        <tr aria-hidden="true">
            <th></th>
            <th scope="col">{{ 'tl_user.cud.create'|trans }}</th>
            <th scope="col">{{ 'tl_user.cud.update'|trans }}</th>
            <th scope="col">{{ 'tl_user.cud.delete'|trans }}</th>
            {% if has_additional %}
                <th scope="col" style="text-align: left">{{ 'tl_user.cud.other'|trans }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for table, operations in tables %}
        <tr>
            <th scope="row" aria-hidden="true">{{ table }}</th>
            {% for operation in ['create', 'update', 'delete'] %}
                <td>
                    {% if operation in operations %}
                        {% set value = table ~ '::' ~ operation %}
                        {% set input_attributes = attrs(attributes)
                            .set('id', "ctrl_#{id}_#{table}_#{operation}")
                            .set('type', 'checkbox')
                            .set('name', "#{name}[]")
                            .set('value', value)
                            .set('data-action', 'focus->contao--scroll-offset#store')
                            .addClass('tl_checkbox')
                            .setIfExists('checked', value in values)
                        %}
                        <label for="{{ input_attributes.id }}" class="invisible">{{ ('tl_user.cud.table_' ~ operation)|trans([table]) }}</label>
                        <input{{ input_attributes }}>
                    {% endif %}
                </td>
            {% endfor %}
            {% if has_additional %}
                <td>
                    {% set operations = operations|filter(op => op not in ['create', 'update', 'delete']) %}
                    {% if operations is not empty %}
                        <fieldset class="tl_checkbox_container">
                            {% for operation in operations %}
                                {% set value = table ~ '::' ~ operation %}
                                {% set input_attributes = attrs(attributes)
                                    .set('id', "ctrl_#{id}_#{table}_#{operation}")
                                    .set('type', 'checkbox')
                                    .set('name', "#{name}[]")
                                    .set('value', value)
                                    .set('data-action', 'focus->contao--scroll-offset#store')
                                    .addClass('tl_checkbox')
                                    .setIfExists('checked', value in values)
                                %}
                                <span>
                                    <input{{ input_attributes }}>
                                    <label for="{{ input_attributes.id }}">{{ ('tl_user.cud.' ~ table ~ '.' ~ operation)|trans([table]) }}</label>
                                </span>
                            {% endfor %}
                        </fieldset>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
