{% trans_default_domain "contao_default" %}

{% set table_attributes = attrs()
    .set('id', 'ctrl_' ~ id)
    .set('data-controller', 'contao--row-wizard')
    .set('data-contao--row-wizard-name-value', id)
    .addClass('tl_modulewizard')
%}
<table{{ table_attributes }}>
    <thead>
        <tr>
            <th></th>
            <th>{{ 'MSC.mw_module'|trans }}</th>
            <th>{{ 'MSC.mw_column'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sortable" data-controller="contao--sortable" data-contao--sortable-handle-value=".drag-handle" data-action="contao--sortable:update->contao--row-wizard#updateSorting" data-contao--row-wizard-target="body">
        {% for row in rows %}
            <tr data-contao--row-wizard-target="row">
                <td>
                    {# Drag row #}
                    {% set drag_handle_attributes = attrs()
                        .set('type', 'button')
                        .set('data-action', 'keydown->contao--sortable#move')
                        .addClass('drag-handle')
                    %}
                    <button{{ drag_handle_attributes}}>{{ backend_icon('drag.svg', 'MSC.move'|trans) }}</button>
                </td>

                {# Module/Content element #}
                <td>
                    <div class="tl_select_wrapper" data-controller="contao--choices">
                        {% set module_select_attributes = attrs()
                            .set('name', "#{id}[#{loop.index0}][mod]")
                            .set('data-action', 'focus->contao--scroll-offset#store contao--row-wizard#updateModuleWizardLink')
                            .addClass('tl_select')
                        %}
                        <select{{ module_select_attributes}}>
                            <optgroup label="{{ 'MSC.mw_elements'|trans }}">
                                {% for option in row.element_options %}
                                    {% set option_attributes = attrs()
                                        .set('value', option.value)
                                        .set('selected', 'selected', option.selected)
                                    %}
                                    <option{{ option_attributes }}>{{ option.label }}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="{{ 'MSC.mw_modules'|trans }}">
                            {% for option in row.module_options %}
                                {% set option_attributes = attrs()
                                    .set('value', option.value)
                                    .set('selected', 'selected', option.selected)
                                %}
                                <option{{ option_attributes }}>{{ option.label }}</option>
                            {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                </td>

                {# Layout #}
                <td>
                    <div class="tl_select_wrapper" data-controller="contao--choices">
                        {% set layout_select_attributes = attrs()
                            .set('name', "#{id}[#{loop.index0}][col]")
                            .set('data-action', 'focus->contao--scroll-offset#store')
                            .addClass('tl_select')
                        %}
                        <select{{ layout_select_attributes}}>
                            {% for option in row.layout_options %}
                                {% set option_attributes = attrs()
                                    .set('value', option.value)
                                    .set('selected', 'selected', option.selected)
                                %}
                                <option{{ option_attributes }}>{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>

                {# Controls #}
                <td class="tl_right">
                    {# Edit module #}
                    {% set title = row.is_content_element ? 'MSC.editElement'|trans : 'tl_layout.edit_module'|trans(domain: 'contao_layout') %}
                    {% set edit_anchor_attributes = attrs()
                        .set('href', path('contao_backend', {do: 'themes', table: row.is_content_element ? 'tl_content' : 'tl_module', act: 'edit', id: row.id, popup: '1'}))
                        .set('onclick', "Backend.openModalIframe({'title': '#{'tl_layout.edit_module'|trans(domain: 'contao_layout')|e('js')}' , 'url': this.href});return false")
                        .set('title', title)
                        .addClass('module_link')
                        .addClass('hidden', not row.controls.edit)
                    %}
                    <a{{ edit_anchor_attributes }}>{{ backend_icon('edit.svg', title) }}</a>
                    {{ backend_icon('edit--disabled.svg', attributes: attrs().addClass('module_image').addClass('hidden', row.controls.edit) ) }}

                    {# Copy row #}
                    {% set copy_button_attributes = attrs()
                        .set('type', 'button')
                        .set('data-action', 'contao--row-wizard#copy contao--scroll-offset#store')
                    %}
                    <button{{ copy_button_attributes }}>{{ backend_icon('copy.svg', 'MSC.mw_copy'|trans) }}</button>

                    {# Delete row #}
                    {% set delete_button_attributes = attrs()
                        .set('type', 'button')
                        .set('data-action', 'contao--row-wizard#delete contao--scroll-offset#store')
                    %}
                    <button{{ delete_button_attributes }}>{{ backend_icon('delete.svg', 'MSC.mw_delete'|trans) }}</button>

                    {# Enable/Disable module #}
                    {% set enable_input_attributes = attrs()
                        .set('id', "#{id}_#{loop.index0}_enable")
                        .set('name', "#{id}[#{loop.index0}][enable]")
                        .set('type', 'checkbox')
                        .set('checked', condition: row.controls.enable)
                        .set('value', '1')
                        .set('data-action', 'focus->contao--scroll-offset#store')
                        .addClass('tl_checkbox mw_enable')
                    %}
                    <input{{ enable_input_attributes }}>

                    {% set enable_label_attributes = attrs()
                        .set('for', "#{id}_#{loop.index0}_enable")
                        .set('title', 'MSC.mw_enable'|trans)
                        .set('data-contao--tooltips-target', 'tooltip')
                        .set('data-action', 'click->contao--scroll-offset#store')
                        .addClass('mw_enable')
                    %}
                    <label{{ enable_label_attributes }}>{{ 'MSC.mw_enable'|trans }}</label>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
