{% trans_default_domain "contao_default" %}

{% set table_attributes = attrs()
    .set('id', 'ctrl_' ~ id)
    .set('data-controller', 'contao--module-wizard')
    .addClass('tl_modulewizard')
%}
<table{{ table_attributes }}>
    <thead>
    <tr>
        <th>{{ 'MSC.mw_module'|trans }}</th>
        <th>{{ 'MSC.mw_column'|trans }}</th>
        <th></th>
    </tr>
    </thead>

    <tbody class="sortable" data-contao--module-wizard-target="body">
        {% for row in rows %}
            <template data-contao--module-wizard-target="rowTemplate">
                <tr data-contao--module-wizard-target="row">
                    {# Module #}
                    <td>
                        {% set module_select_attributes = attrs()
                            .set('name', "#{id}[#{loop.index0}][mod]")
                            .set('data-action', 'focus->contao--scroll-offset#store contao--module-wizard#updateLink')
                            .set('data-controller', 'contao--choices')
                            .addClass('tl_select')
                        %}
                        <select{{ module_select_attributes}}>
                            {% for option in row.module_options %}
                                {% set option_attributes = attrs()
                                    .set('value', option.value)
                                    .set('selected', 'selected', option.selected)
                                %}
                                <option{{ option_attributes }}>{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    </td>

                    {# Layout #}
                    <td>
                        {% set layout_select_attributes = attrs()
                            .set('name', "#{id}[#{loop.index0}][col]")
                            .addClass('tl_select_column')
                            .set('data-action', 'focus->contao--scroll-offset#store')
                        %}
                        <select{{ layout_select_attributes}}>
                            {% for option in row.layout_options %}
                                {% set option_attributes = attrs()
                                    .set('value', option.value)
                                    .set('selected', 'selected', option.selected)
                                %}
                                <option{{ option_attributes }}>{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    </td>

                    {# Controls #}
                    <td class="tl_right">
                        {# Edit module #}
                        {% set edit_anchor_attributes = attrs()
                            .set('href', path('contao_backend', {do: 'themes', table: 'tl_module', act: 'edit', id: row.module_id, popup: '1'}))
                            .set('onclick', "Backend.openModalIframe({'title': '#{'tl_layout.edit_module'|trans(domain: 'contao_layout')|e('js')}' , 'url': this.href});return false")
                            .addClass('module_link')
                            .addClass('hidden', row.controls.edit)
                        %}
                        <a{{ edit_anchor_attributes }}>{{ backend_icon('edit.svg', 'tl_layout.edit_module'|trans(domain: 'contao_layout') ) }}</a>
                        {{ backend_icon('edit--disabled.svg', attributes: attrs().addClass('module_image').addClass('hidden', not row.controls.edit) ) }}

                        {# Copy row #}
                        {% set copy_button_attributes = attrs()
                            .set('type', 'button')
                            .set('data-action', 'contao--module-wizard#copy contao--scroll-offset#store')
                        %}
                        <button{{ copy_button_attributes }}>{{ backend_icon('copy.svg', 'MSC.mw_copy'|trans) }}</button>

                        {# Delete row #}
                        {% set delete_button_attributes = attrs()
                            .set('type', 'button')
                            .set('data-action', 'contao--module-wizard#delete contao--scroll-offset#store')
                        %}
                        <button{{ delete_button_attributes }}>{{ backend_icon('delete.svg', 'MSC.mw_delete'|trans) }}</button>

                        {# Enable/Disable module #}
                        {% set enable_input_attributes = attrs()
                            .set('name', "#{id}[#{loop.index0}][enable]")
                            .set('type', 'checkbox')
                            .set('checked', condition: row.controls.enable)
                            .set('value', '1')
                            .set('data-action', 'focus->contao--scroll-offset#store')
                            .addClass('tl_checkbox mw_enable')
                        %}
                        <input{{ enable_input_attributes }}>

                        {% set enable_button_attributes = attrs()
                            .set('type', 'button')
                            .set('data-action', 'contao--module-wizard#enable contao--scroll-offset#store')
                            .set('title', 'MSC.mw_enable'|trans)
                            .addClass('mw_enable')
                        %}
                        <button{{ enable_button_attributes }}></button>

                        {# Drag row #}
                        {% set drag_handle_attributes = attrs()
                            .set('type', 'button')
                            .set('data-action', 'keydown->contao--module-wizard#move')
                            .set('aria-hidden', 'true')
                            .addClass('drag-handle')
                        %}
                        <button{{ drag_handle_attributes}}>{{ backend_icon('drag.svg', 'MSC.move'|trans) }}</button>
                    </td>
                </tr>
            </template>
        {% endfor %}
    </tbody>
</table>
