{% trans_default_domain "contao_default" %}

<div data-controller="contao--password-visibility">
    {% if prependLabel|default %}
        <label for="{{ id }}">{{ 'MSC.password.0'|trans }}</label>
    {% endif %}
    {% set input_attributes = attrs()
        .set('type', 'password')
        .set('name', name)
        .set('id', id)
        .addClass(['tl_text', 'tl_password', class])
        .set('value', '')
        .set('placeholder', value)
        .set('autocomplete', 'new-password')
        .set('data-contao--password-visibility-target', 'input')
        .set('data-action', 'focus->contao--scroll-offset#store')
        .mergeWith(attributes)
    %}
    <input{{ input_attributes }}>

    {% set button_attributes = attrs()
        .set('type', 'button')
        .addClass('password-button')
        .set('data-action', 'contao--password-visibility#toggle')
    %}

    <button{{ button_attributes}}>
        <span data-contao--password-visibility-target="icon">{{ backend_icon('visible.svg', 'MSC.showPassword'|trans) }}</span>
        <span class="hidden" data-contao--password-visibility-target="icon">{{ backend_icon('visible--disabled.svg', 'MSC.hidePassword'|trans) }}</span>
    </button>
</div>

{% if description|default %}
    <p class="tl_help tl_tip">{{ description }}</p>
{% endif %}
