{% extends "@Contao/block_searchable.html.twig" %}

{% block content %}

  {% if error %}
    {{ error }}
  {% else %}
    <h1>{{ question }}</h1>

    <div class="ce_text block">
      {% if not addBefore %}
        {{ answer|csp_inline_styles }}
      {% endif %}

      {% if addImage %}
        {% include "@Contao/image.html.twig" %}
      {% endif %}

      {% if addBefore %}
        {{ answer|csp_inline_styles }}
      {% endif %}
    </div>

    {% if enclosure %}
      <ul class="enclosure">
        {% for enclosure in enclosure %}
          <li class="download-element ext-{{ enclosure.extension }}">
             <a href="{{ enclosure.href }}" title="{{ enclosure.title }}">{{ enclosure.link }} <span class="size">({{ enclosure.filesize }})</span></a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <p class="info">{{ info }}</p>

    {% if referer %}
      <!-- indexer::stop -->
      <p class="back"><a href="{{ referer }}" title="{{ back }}">{{ back }}</a></p>
      <!-- indexer::continue -->
    {% endif %}
  {% endif %}

  {% if allowComments %}
    <div class="ce_comments block">
      <{{ hlc }}>{{ hlcText }}</{{ hlc }}>
      {{ comments|join }}
      {{ pagination }}
      <{{ hlc }}>{{ addComment }}</{{ hlc }}>
      {% include "@Contao/mod_comment_form.html.twig" %}
    </div>
  {% endif %}

{% endblock %}

{% do add_schema_org(getSchemaOrgData.invoke()) %}
