{% trans_default_domain "contao_default" %}

{% block buttons %}
    <div id="tl_buttons">
        {# Back button #}
        {% if buttons.back|default %}
            {% set back_button_attributes = attrs()
                .set('href', buttons.back.href)
                .addClass('header_back')
                .set('title', ('MSC.backBTTitle')|trans)
                .set('accesskey', 'b')
                .set('onclick', 'Backend.getScrollOffset()') %}
            <a{{ back_button_attributes }}>{{ 'MSC.backBT'|trans }}</a>
        {% endif %}

        {# New button #}
        {% if buttons.new|default %}
            {% set new_button_attributes = attrs()
                .set('href', buttons.new.href)
                .addClass('header_new')
                .setIfExists('title', buttons.new.title)
                .set('accesskey', 'n')
                .set('onclick', 'Backend.getScrollOffset()') %}
            <a{{ new_button_attributes }}>{{ buttons.new.label|raw }}</a>
        {% endif %}

        {# Prerendered global buttons #}
        {{ buttons.global_rendered|default|raw }}
    </div>
{% endblock %}

{% block submit_buttons %}
    <div class="tl_submit_container">
        {% if buttons.submit_rendered|length < 3 %}
            {{ buttons.submit_rendered|join(' ')|raw }}
        {% else %}
            {{ buttons.submit_rendered[0]|raw }}
            <div class="split-button">
                {{ buttons.submit_rendered[1]|raw }}
                <button type="button" id="sbtog">
                    <img src="/system/themes/flexible/icons/navcol.svg" width="12" height="12" alt="">
                </button>
                <ul class="invisible">
                    {% for button_rendered in buttons.submit_rendered[2:] %}
                        <li>{{ button_rendered|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
