{% trans_default_domain "contao_default" %}
{% use "@Contao/backend/crud/DC_Table/_buttons.html.twig" %}
{% use "@Contao/backend/crud/DC_Table/_picker.html.twig" %}

{# Message #}
{% include "@Contao/backend/crud/DC_Table/message.html.twig" %}

{# Buttons on top #}
<div id="tl_buttons">
    {{ block('top_buttons') }}
</div>

{# Rows #}
{% if rows|default %}
    {% if not select_mode %}
        {# Plain listing (no form) #}
        {% block records_listing %}
           {% set listing_attributes = attrs()
                .addClass('tl_listing_container listView')
                .addClass('id', 'tl_listing')
                .mergeWith(picker.value_attribute)
            %}
            <div{{listing_attributes }}>
                {# Picker "select all" controls #}
                {{ block('picker_select_all') }}

                {% set listing_table_attributes = attrs()
                    .addClass('tl_listing')
                    .addClass('showColumns', show_columns)
                    .addClass('picker unselectable', picker.field_type)
                %}
                <table{{ listing_table_attributes }}>
                    {#  Table header #}
                    {% if listing_header|default %}
                        <tr>
                            {% for field, label in listing_header.fields %}
                                {% set listing_header_attributes = attrs()
                                    .addClass('tl_folder_tlist')
                                    .addClass('col_' ~ field)
                                    .addClass('ordered_by', field == first_order_by)
                                %}
                                <th{{ listing_header_attributes }}>{{ label|raw }}</th>
                            {% endfor %}
                            <th class="tl_folder_tlist tl_right_nowrap"></th>
                        </tr>
                    {% endif %}

                    {# Rows #}
                    {% set group_count = 0 %}
                    {% for row in rows %}
                        {% if row.sorting|default %}
                            <tr>
                                <td colspan="2" class="{{ loop.first ? 'tl_folder_tlist' : 'tl_folder_list' }}">{{ row.sorting }}</td>
                            </tr>
                            {% set group_count = 1 %}
                        {% else %}
                            {% set group_count = group_count + 1 %}
                        {% endif %}

                        {% set row_attributes = attrs()
                            .addClass(cycle(['odd', 'even'], group_count))
                            .addClass('draft', row.data.tstamp|default == '0')
                            .addClass('click2edit toggle_select hover-row')
                        %}
                        <tr{{ row_attributes }}>
                            {% for field, label in row.columns|default([]) %}
                                {% set column_attributes = attrs()
                                    .set('colspan', row.colspan)
                                    .addClass('tl_file_list')
                                    .addClass('col_' ~ field|u.match('/[^:]*/')[0])
                                    .addClass('ordered_by', field == first_order_by)
                                %}
                                <td{{ column_attributes }}>{{ label|raw }}</td>
                            {% else %}
                                <td class="tl_file_list">{{ row.label|raw }}</td>
                            {% endfor %}

                            <td class="tl_file_list tl_right_nowrap">
                                {% if select_mode %}
                                    <input type="checkbox" name="IDS[]" id="ids_{{ row.data.id }}" class="tl_tree_checkbox" value="{{ row.data.id }}">
                                {% else %}
                                    {{ row.buttons_rendered|raw }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {# Picker "reset selection" controls #}
                {{ block('picker_reset') }}

                {# Pagination #}
                {{ pagination_rendered|default }}
            </div>
        {% endblock %}
    {% else %}
        {# Listing wrapped in form #}
        <form id="tl_select" class="tl_form unselectable" method="post" novalidate>
            <div class="tl_formbody_edit">
                <input type="hidden" name="FORM_SUBMIT" value="tl_select">
                <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
                {{ block('records_listing') }}
            </div>

            {# Submit buttons #}
            <div class="tl_formbody_submit" style="text-align:right">
                {{ block('submit_buttons') }}
            </div>
        </form>
    {% endif %}
{% else %}
    <p class="tl_empty">{{ 'MSC.noResult'|trans }}</p>
{% endif %}
