{% trans_default_domain 'contao_default' %}
{% extends '@Contao/content_element/_base.html.twig' %}

{% if form|default %}
    {% form_theme form '@Contao/form/contao_layout.html.twig' %}
{% endif %}

{% block wrapper %}
    {% if as_editor_view %}
        <i class="placeholder-explanation">{{ ('CTE.' ~ type ~ '.1')|trans }}</i>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="formbody">
            {{ form_row(form.REQUEST_TOKEN) }}

            {% if ask_for_username %}
                <div class="widget widget-text">
                    {{ form_label(form.username) }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
            {% endif %}

            <div class="widget widget-text">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>

            {% if add_captcha %}
                {{ form_row(form.captcha) }}
            {% endif %}

            <div class="widget widget-submit">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
