{% trans_default_domain 'contao_tl_page' %}
<div class="clr widget">
    <h3>{{ 'tl_page.routeConflicts.0'|trans }}</h3>
    <div class="tl_info">
        <p>{{ 'tl_page.routeConflicts.1'|trans }}</p>
        <table class="tl_listing showColumns">
            <tbody>
            <tr>
                <th class="tl_folder_tlist">{{ 'MSC.id.0'|trans([], 'contao_default') }}</th>
                <th class="tl_folder_tlist">{{ 'tl_page.title.0'|trans }}</th>
                <th class="tl_folder_tlist">{{ 'tl_page.type.0'|trans }}</th>
                <th class="tl_folder_tlist">{{ 'tl_page.alias.0'|trans }}</th>
                <th class="tl_folder_tlist">{{ 'tl_page.routePath.0'|trans }}</th>
                <th class="tl_folder_tlist">{{ 'tl_page.routePriority.0'|trans }}</th>
                <th class="tl_folder_tlist tl_right_nowrap"></th>
            </tr>
            {% for conflict in conflicts %}
                <tr class="{{ loop.index % 2 ? 'even' : 'odd' }} hover-row">
                    <td colspan="1" class="tl_file_list">{{ conflict.page.id }}</td>
                    <td colspan="1" class="tl_file_list">{{ conflict.page.title }}</td>
                    <td colspan="1" class="tl_file_list">{{ ('PTY.'~conflict.page.type~'.0')|trans([], 'contao_default') }}</td>
                    <td colspan="1" class="tl_file_list">{{ conflict.page.alias }}</td>
                    <td colspan="1" class="tl_file_list">{{ conflict.path|raw }}</td>
                    <td colspan="1" class="tl_file_list">{{ conflict.page.routePriority }}</td>
                    <td class="tl_file_list tl_right_nowrap">
                        <a
                            href="{{ conflict.editUrl|raw }}"
                            onclick="Backend.openModalIframe({title:'{{ 'tl_page.edit'|trans([conflict.page.id]) }}', url:this.href});return false"
                            title="{{ 'tl_page.edit'|trans([conflict.page.id]) }}"
                            class="edit"
                        ><img src="system/themes/flexible/icons/edit.svg" width="16" height="16" alt=""></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
