{% trans_default_domain 'contao_default' %}

<div class="tl_undo_header">
    <div class="tl_undo_header_item">
        <span class="tl_undo_header_label"><span class="date">{{ row.tstamp|date(dateFormat) }}</span>
            <span class="time">{{ row.tstamp|date(timeFormat) }}</span></span>
    </div>
    <div class="tl_undo_header_item">
        <span class="tl_undo_header_label">{{ 'tl_undo.pid.0'|trans({}, 'contao_tl_undo') }}</span>
        <strong>
            {% if user %}{{ user.username }}{% else %}{{ row.pid }}{% endif %}
        </strong>
    </div>
    <div class="tl_undo_header_item">
        <span class="tl_undo_header_label">{{ 'tl_undo.fromTable.0'|trans({}, 'contao_tl_undo') }}</span>
        <strong>{{ "TABLES.#{row.fromTable}.0"|trans }}</strong>
    </div>
    <div class="tl_undo_header_item">
        <span class="tl_undo_header_label">ID</span> {{ originalRow.id }}
    </div>
    {% if (parent) %}
        <div class="tl_undo_header_item">
            <span class="tl_undo_header_label">{{ 'MSC.parent'|trans }}</span>
            <strong>{{ "TABLES.#{parent.table}.0"|trans }}</strong>
        </div>
    {% endif %}
</div>

<div class="tl_undo_preview">
    {% if preview is not iterable %}
        {{ preview|raw }}
    {% else %}
        <table style="width: 100%;">
            <tr>
            {% for value in preview %}
                <td>{{ value|raw }}</td>
            {% endfor %}
            </tr>
        </table>
    {% endif %}
</div>
