{% trans_default_domain 'contao_tl_job' %}

{% macro render_jobs(jobs) %}
    <ul>
        {% for job in jobs %}
            <li>
                {# todo: change when #8472 is merged #}
                {% set dateTimeFormat = 'Y-m-d H:i:s' %}

                {# todo: the UI could need some love? #}
                {{ ('tl_job.typeLabel.' ~ job.type)|trans }} ({{ job.status.label|trans }} - {{ job.createdAt|date(dateTimeFormat) }})
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block main %}
    <div{{ list_attributes|default }}>
        {{ _self.render_jobs(jobs) }}
    </div>
{% endblock %}
