{% macro render_jobs(jobs) %}
    <ul>
        {% for job in jobs %}
            <li>
                {# todo: make backend system config available somehow and use here #}
                {% set dateTimeFormat = 'Y-m-d H:i:s' %}
                {{ job.createdAt|date(dateTimeFormat) }}
                {{ job.status.label|trans }}
                {% if job.children %}
                    <div class="children">
                        {{ _self.render_jobs(job.children) }}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block main %}
    <div{{ list_attributes|default }}>
        {{ _self.render_jobs(jobs) }}
    </div>
{% endblock %}
