{% trans_default_domain 'contao_tl_job' %}

{% macro render_jobs(jobs) %}
    <ul>
        {% for job in jobs %}
            <li>
                {{ ('tl_job.typeLabel.' ~ job.type)|trans }} ({{ job.status.label|trans }} - {{ job.createdAt|date(contao.datim_format) }})
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block main %}
    <div{{ list_attributes|default }}>
        {{ _self.render_jobs(jobs) }}
    </div>
{% endblock %}
